<!-- Mobile homepage !-->
<div class="mobile fm-block homepage hidden">
    <div class="mobile fm-row">
        <div class="mobile fm-header">
            <div class="mobile fm-icon mega left"></div>
            <div class="mobile fm-icon menu right"></div>
            <div class="mobile fm-hr"></div>
        </div>
    </div>

    <div class="mobile fm-row">
        <div class="mobile fm-content">
            <div class="mobile fm-scrolling">
                <div class="homepage-main-block">
                    <div class="homepage-main-cell">
                        <div class="company-slogan">[$509]</div>
                        <div class="first-message">
                            [$16341]
                        </div>
                        <a class="mobile download-app hidden"></a>
                    </div>
                </div>

                <div class="company-logo"></div>
                <div class="second-message">
                    [$12442]
                </div>

                <div class="feature-icon end-to-end-encryption"></div>
                <div class="feature-title">[$1060]</div>
                <div class="feature-message">[$12443]</div>

                <div class="feature-icon secure-global-access"></div>
                <div class="feature-title">[$12444]</div>
                <div class="feature-message">[$1063] [$12445]</div>

                <div class="feature-icon secure-collaboration"></div>
                <div class="feature-title">[$12446]</div>
                <div class="feature-message">[$1065] [$12447]</div>
            </div>
        </div>
    </div>

    <div class="mobile fm-row">
        <div class="mobile bottom-links">
            <div class="mobile bottom-link sign-in">
                [$171]
            </div>
            <div class="mobile bottom-link register">
                [$968]
            </div>
        </div>
    </div>
</div>


<!-- Main menu !-->
<div class="mobile dark-overlay"></div>
<div class="mobile main-menu">
    <div class="mobile fm-icon close right"></div>

    <div class="avatar-name-block hidden">
        <div class="mobile main-avatar">
            <div class="avatar-bg"><span></span></div>
            <div class="avatar-wrapper avatar">
                <img alt="" />
            </div>
        </div>
        <div class="mobile user-info">
            <div class="mobile user-name"></div>
        </div>
    </div>

    <div class="mobile menu-buttons">
        <div class="mobile menu-button login hidden">
            [$193]
        </div>
        <div class="mobile menu-button register hidden">
            [$968]
        </div>
        <div class="mobile menu-button cloud-drive hidden">
            [$164]
        </div>
        <div class="spacer"></div>
        <div class="mobile menu-button home hidden">
            [$1888]
        </div>
        <div class="mobile menu-button terms-of-service hidden">
            [$385]
        </div>
        <div class="mobile menu-button red logout hidden">
            [$7566]
        </div>
    </div>
</div>


<!-- Loading overlay -->
<div class="dark-overlay hidden"></div>
<div class="light-overlay hidden"></div>
<div class="slideshow-overlay hidden"></div>
<div class="fm-dialog-overlay hidden"></div>


<!-- Loading progress / spinner -->
<div class="mobile loading-spinner hidden">
    <div class="main-loader"></div>
    <ul class="loading-info">
        <li class="step3">[$8579]</li>
        <li class="step2">[$8578]</li>
        <li class="step1">[$8577]</li>
    </ul>
    <div class="loader-progressbar">
        <div class="loader-percents"></div>
    </div>
</div>


<!-- Initial folder link view -->
<div class="mobile main-block inital-folder-view hidden">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a href="" class="mobile logo"></a>
            <div class="mobile white-block">
                <img alt="" src="{staticpath}images/mobile/extensions/folder.png" class="mobile filetype-img" />
                <div class="mobile filename"></div>
                <div class="mobile filesize"></div>
                <a href="" class="mobile red-button first"> <i></i> <span>[$8947]</span> </a>
                <a href="" class="mobile red-button second"> <i></i> <span>[$8948]</span> </a>
            </div>
        </div>
    </div>
</div>


<!-- Toast notification !-->
<div class="mobile toast-notification hidden">
    [$7677]
</div>


<!-- Mobile file manager / folder link viewer !-->
<div class="mobile fm-block file-manager-block hidden">
    <div class="mobile fm-row">

        <!-- Folder link header -->
        <div class="mobile fm-header folder-link">
            <div class="mobile fm-icon cloud left hidden"></div>
            <div class="mobile fm-icon menu right hidden"></div>
            <div class="mobile fm-icon back left hidden"></div>
            <div class="mobile fm-icon folder"></div>
            <div class="mobile fm-header-txt"><span>[$1456]...</span></div>
            <div class="mobile fm-folder-size"></div>
            <div class="mobile fm-hr"></div>
        </div>
    </div>

    <div class="mobile fm-row">
        <div class="mobile fm-content">
            <div class="mobile fm-scrolling">

                <!-- Template for folders -->
                <div class="mobile fm-item folder template">
                    <div class="mobile fm-item-img">
                        <img alt="" src="{staticpath}images/mobile/extensions/folder.png" />
                    </div>
                    <div class="mobile fm-icon link right hidden"></div>
                    <div class="mobile fm-item-info">
                        <div class="mobile fm-item-name"></div>
                        <div class="mobile fm-item-details">
                            <span class="num-files"></span>
                        </div>
                    </div>
                    <div class="mobile fm-item-links">
                        <!-- Cloud drive only -->
                        <div class="mobile fm-item-link open-folder">
                            [$865]
                        </div>
                        <!-- Cloud drive only -->
                        <div class="mobile fm-item-link link hidden">
                            [$16342]
                        </div>
                        <!-- Cloud drive only -->
                        <div class="mobile fm-item-link delete hidden">
                            [$1730]
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Template for files -->
                <div class="mobile fm-item file template">
                    <div class="mobile fm-item-img">
                        <img alt="" src="{staticpath}images/mobile/extensions/image.png" />
                    </div>
                    <div class="mobile fm-icon link right hidden"></div>
                    <div class="mobile fm-item-info">
                        <div class="mobile fm-item-name"></div>
                        <div class="mobile fm-item-details">
                            <span class="file-size"></span><span class="date"></span>
                        </div>
                    </div>
                    <div class="mobile fm-item-links">
                        <div class="mobile fm-item-link download">
                            [$58]
                        </div>
                        <!-- Cloud drive only -->
                        <div class="mobile fm-item-link link hidden">
                            [$16342]
                        </div>
                        <!-- Cloud drive only -->
                        <div class="mobile fm-item-link delete hidden">
                            [$1730]
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <!-- Empty Cloud Drive block !-->
                <div class="mobile empty-cloud-block template">
                    <div class="mobile empty-icon cloud"></div>
                    <div class="mobile empty-txt">[$16394]</div>
                </div>

                <!-- Empty folder block -->
                <div class="mobile empty-folder-block template">
                    <div class="mobile empty-icon folder"></div>
                    <div class="mobile empty-txt">[$7597]</div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile fm-row">
        <div class="mobile fm-bottom"></div>
    </div>
</div>


<!-- File not found overlay !-->
<div class="mobile main-block hidden" id="mobile-ui-notFound">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a class="mobile logo"></a>
            <div class="mobile white-block">
                <img alt="" src="{staticpath}images/mobile/extensions/na.png" class="mobile filetype-img" />
                <div class="mobile na-file-txt">
                    [$243]
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Download page mobile / File download overlay !-->
<div class="mobile main-block hidden" id="mobile-ui-main">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a class="mobile logo"></a>
            <div class="mobile fm-dialog-close hidden"></div>
            <div class="mobile white-block">
                <img alt="" src="{staticpath}images/mobile/extensions/image.png" class="mobile filetype-img" />
                <div class="mobile filename"><em>[$5533]</em></div>
                <div class="mobile file-download-info">
                    <div class="mobile download-speed"></div>
                    <div class="mobile filesize"></div>
                    <div class="mobile download-percents"></div>
                </div>
                <a class="mobile red-button first dl-browser"> <i></i> <span>[$8947]</span> </a>
                <a class="mobile red-button second dl-megaapp"> <i></i> <span>[$8948]</span> </a>
                <!-- Progressbar is hidden. "downloading" body class will show it !-->
                <!-- Set width to ".bar" block !-->
                <a class="mobile download-progress">
                    <div class="bar"></div>
                    <span>[$8949]</span>
                </a>
            </div>
        </div>
    </div>
    <div class="mobile content-row second">
        <div class="mobile content-cell">
            <div class="mobile app-info-block">
                <div class="mobile fm-dialog-close hidden"></div>
                <div class="mobile app-info top">
                    <div class="mobile app-info-cell">
                        <div class="mobile wrong-file-block">
                            <i class="mobile warning-icon"></i>
                            <div class="mobile error-txt file-too-large hidden">[$8951]</div>
                            <div class="mobile error-txt file-unsupported hidden">[$8952]</div>
                        </div>
                        <div class="mobile application-txt standalone-download-message hidden">
                            [$8950]
                        </div>
                        <div class="mobile application-txt file-manager-download-message hidden">
                            [$16107]
                        </div>
                        <a class="mobile download-app"></a>
                    </div>
                </div>
                <div class="mobile app-info bottom">
                    <div class="mobile app-info-cell bottom-align">
                        <div class="mobile tablet-img-wrapper">
                            <div class="mobile tablet-img"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- File delete overlay !-->
<div class="mobile main-block hidden" id="mobile-ui-delete">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a class="mobile logo"></a>
            <div class="mobile fm-dialog-close"></div>
            <div class="mobile white-block">
                <img alt="" src="{staticpath}images/mobile/extensions/image.png" class="mobile filetype-img" />
                <div class="mobile filename"><em>[$5533]</em></div>
                <div class="mobile file-download-info">
                    <div class="mobile filesize"></div>
                </div>
                <a class="mobile red-button first delete"> <i></i> <span>[$1730]</span> </a>
                <a class="mobile red-button second cancel"> <i></i> <span>[$82]</span> </a>
            </div>
        </div>
    </div>
</div>


<!-- File export overlay !-->
<div class="mobile main-block hidden" id="mobile-ui-copy-link">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a class="mobile logo"></a>
            <div class="mobile fm-dialog-close"></div>
            <div class="mobile white-block">
                <img alt="" src="{staticpath}images/mobile/extensions/image.png" class="mobile filetype-img" />
                <div class="mobile filename"><em>[$5533]</em></div>
                <div class="mobile file-download-info">
                    <div class="mobile filesize"></div>
                </div>
                <textarea id="mobile-public-link" class="mobile public-link hidden" readonly></textarea>
                <a class="mobile red-button first copy disabled"> <i></i> <span>[$1394]</span> </a>
                <a class="mobile red-button second remove disabled"> <i></i> <span>[$6821]</span> </a>
            </div>
        </div>
    </div>
</div>


<!-- Generic error overlay !-->
<div class="mobile main-block error-overlay hidden" id="mobile-ui-error">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a class="mobile logo"></a>
            <div class="mobile white-block">
                <div class="mobile error-messages">
                    <div class="first-message"></div><br>
                    <div class="optional-second-message"></div>
                </div>
                <a class="mobile red-button first confirm-ok-button"> <i></i> <span>[$1596]</span> </a>
            </div>
        </div>
    </div>
</div>


<!-- Decryption key overlay for file/folder links without a decryption key !-->
<div class="mobile main-block error-overlay hidden" id="mobile-decryption-key-overlay">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a href="" class="mobile logo"></a>
            <div class="mobile white-block">
                <div class="mobile overlay-info initial-message hidden">
                    <p>[$7945]</p>
                    <p>[$7972]</p>
                </div>
                <div class="mobile overlay-info error-message hidden">
                    <p>
                        <strong>[$16471]</strong>
                    </p>
                    <p>[$16472]</p>
                </div>
                <textarea class="mobile grey-textarea decryption-key" placeholder="[$1028]"></textarea>
                <a class="mobile red-button decrypt-button"> <i></i> <span>[$1027]</span> </a>
            </div>
        </div>
    </div>
</div>


<!-- Decryption password overlay for password protected links !-->
<div class="mobile main-block error-overlay hidden" id="mobile-password-decryption-overlay">
    <div class="mobile content-row first">
        <div class="mobile content-cell">
            <a href="" class="mobile logo"></a>
            <div class="mobile white-block">
                <div class="mobile overlay-info initial-message">
                    <p class="error-message">[$9071]</p>
                    <p>[$9072]</p>
                </div>
                <input type="password" class="mobile grey-textarea decryption-password" placeholder="[$9073]" />
                <a class="mobile red-button decrypt-button">
                    <span class="decrypt-text">[$1027]</span>
                    <span class="decrypting-spinner">
                        <img alt="" src="{staticpath}images/mobile/button-loader.gif" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Sign in / Registration -->
<div class="mobile signin-register-block full-page-scrollable hidden">
    <div class="mobile fm-block">
        <div class="mobile fm-row">
            <div class="mobile sign-header">
                <div class="mobile fm-icon mega"></div>
                <div class="mobile top-links">
                    <div class="mobile top-link sign-in">
                        [$171]
                    </div>
                    <div class="mobile top-link register">
                        [$968]
                    </div>
                </div>
                <div class="mobile fm-hr"></div>
            </div>
        </div>

        <div class="mobile fm-row">
            <div class="mobile fm-content">
                <div class="mobile fm-scrolling">
                    <!-- Sign in Tab !-->
                    <div class="mobile tab-block sign-in hidden">
                        <form>
                            <div class="mobile signin-input login">
                                <span></span>
                                <input type="email" value="" placeholder="[$16343]" />
                            </div>
                            <div class="mobile signin-input password">
                                <span></span>
                                <input type="password" value="" placeholder="[$16344]" />
                            </div>
                            <div class="mobile signin-button">
                                <span class="label">[$16345]</span>
                                <span class="loading-image">
                                    <img alt="" src="{staticpath}images/mobile/button-loader.gif" />
                                </span>
                            </div>
                            <div class="mobile remember-me">
                                <div class="checkboxOff checkboxOn square"><i></i><input class="checkbox" type="checkbox" checked="checked"></div>
                                <div class="checkbox-label text">
                                    [$192]
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Register Tab !-->
                    <div class="mobile tab-block register hidden">
                        <form>
                            <div class="mobile signin-input first-name">
                                <span></span>
                                <input type="text" value="" placeholder="[$1096]" />
                            </div>
                            <div class="mobile signin-input last-name">
                                <span></span>
                                <input type="text" value="" placeholder="[$1097]" />
                            </div>
                            <div class="mobile signin-input email-address">
                                <span></span>
                                <input type="email" value="" placeholder="[$1331]" />
                                <i class="warning-icon"></i>
                            </div>
                            <div class="mobile signin-input password">
                                <span></span>
                                <input type="password" value="" placeholder="[$909]" />
                                <div class="mobile estimator-loading-icon"></div>
                                <i class="warning-icon"></i>
                            </div>
                            <div class="mobile new-registration password-strength">
                                <div class="register-pass-status-line1"></div>
                                <div class="register-pass-status-line2"></div>
                                <div class="register-pass-status-line3"></div>
                                <div class="register-pass-status-line4"></div>
                                <div class="register-pass-status-line5"></div>
                            </div>
                            <div class="mobile signin-input password-confirm">
                                <span></span>
                                <input type="password" value="" placeholder="[$1114]" />
                                <i class="warning-icon"></i>
                            </div>
                            <div class="mobile confirm-terms">
                                <div class="checkboxOff square"><i></i><input class="checkbox" type="checkbox"></div>
                                <div class="text">
                                    [$208]
                                </div>
                            </div>
                            <div class="mobile register-button">
                                <span class="label">[$209]</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Registration confirm email -->
<div class="mobile registration-confirm-email full-page-scrollable hidden">
    <div class="mobile fm-block">
        <div class="mobile fm-row">
            <div class="mobile sign-header">
                <div class="mobile fm-icon mega"></div>
                <div class="mobile top-links">
                    <div class="mobile top-link full active">
                        [$7732]
                    </div>
                </div>
                <div class="mobile fm-hr"></div>
            </div>
        </div>

        <div class="mobile fm-row">
            <div class="mobile fm-content">
                <div class="mobile fm-scrolling">
                    <div class="email-icon"></div>
                    <div class="confirm-message">
                        [$217]
                    </div>
                    <div class="change-email">
                        <input type="text">
                    </div>
                    <div class="instruction-message">
                        [$9029]
                    </div>
                    <div class="mobile resend-button">
                        <span class="label">[$8744]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Registration creating account / generating keys -->
<div class="mobile registration-generating-keys full-page-scrollable hidden">
    <div class="mobile fm-block">
        <div class="mobile fm-row">
            <div class="mobile sign-header">
                <div class="mobile fm-icon mega"></div>
                <div class="mobile top-links">
                    <div class="mobile top-link active">
                        [$1796]
                    </div>
                </div>
                <div class="mobile fm-hr"></div>
            </div>
        </div>

        <div class="mobile fm-row">
            <div class="mobile fm-content">
                <div class="keyspinner">
                    <div class="keydot1"></div>
                    <div class="keydot2"></div>
                </div>
                <div class="information-message">
                    [$511] [$1140] [$1141]
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Terms of Service -->
<div class="mobile fm-block terms-of-service hidden">
    <div class="mobile fm-row">
        <div class="mobile fm-header">
            <div class="mobile fm-icon menu right"></div>
            <div class="mobile fm-icon mega center"></div>
            <div class="mobile fm-hr"></div>
        </div>
    </div>

    <div class="mobile fm-row">
        <div class="mobile fm-content">
            <div class="mobile fm-scrolling">
                <div class="mobile content">
                    <!-- Same content as html/terms.html -->
                    <h1>Terms of Service</h1>
                    <h2>MEGA LIMITED TERMS OF SERVICE <span class="red">("terms")</span></h2>
                    <p>
                        <span class="number">1</span>
                        <span class="text">Welcome to Mega. Mega Limited ("Mega", "we", "us") provides internet services.  We provide services ourselves and via our related companies, affiliates and resellers who act on our behalf, at our website at https://mega.nz, subdomains and related sites (each a "website"), and using mobile apps we provide ("our mobile apps"), which enable users, amongst other things, to encrypt by way of user controlled encryption ("UCE"), use our application programming interface ("API"), upload, store, manage, download and decrypt files, information, material and other data ("data") and give access to that data to others (all together, "services" and each, a "service"). If you have questions about how to use our services or the great things you can do with Mega, check our Help Centre or, if you can't find the answer there, email us at <a href="mailto:support@mega.nz">support@mega.nz</a>.</span>
                    </p>
                    <p>
                        <span class="number">2</span>
                        <span class="text">These terms are binding and apply to any use of the services, website and our mobile apps by you and anyone who you allow to access your data or our services. By using our services, the website or our mobile apps, you and they irrevocably agree to these terms. If you do not like these terms or don't want to be bound, you can't use our services, the website or our mobile apps.  In particular, OUR SERVICES ARE PROVIDED SUBJECT TO CERTAIN DISCLAIMERS BY US AND UNDERTAKINGS BY YOU, INCLUDING AN INDEMNITY FROM YOU IF YOU BREACH THESE TERMS &ndash; see clauses 37-47.  NEW ZEALAND LAW AND ARBITRATION OF ANY DISPUTES APPLIES EXCLUSIVELY &ndash; see clauses 48 and 49.</span>
                    </p>
                    <p>
                        <span class="number">3</span>
                        <span class="text">We can change these terms at any time by providing you at least 30 days' prior notice of the change, whether via our website, via our mobile apps, by sending you an email or via any messaging service we provide. Your continued use after that notice means that you agree to the changed terms. If you have paid for a subscription that is due to expire after that 30 day notice period and you do not wish to continue to use our services under the new terms, you may terminate your subscription before the new terms come into force.  We will then (but not otherwise) refund the unexpired portion of your subscription payment within 30 days and close your account.</span>
                    </p>
                    <p>
                        <span class="number">4</span>
                        <span class="text">If you comply with these terms, then we grant you a non-exclusive, non-transferable, worldwide licence to access and use our services via the website and our mobile apps in accordance with these terms and any plan you have subscribed for.</span>
                    </p>

                    <hr />

                    <h2>Your data</h2>
                    <p>
                        <span class="number">5</span>
                        <span class="text">If you allow others to access your data (e.g. by, amongst other things, giving them a link to, and a key to decrypt, that data), in addition to them accepting these terms, you are responsible for their actions and omissions while they are using the website and services and you agree to fully indemnify us for any claim, loss, damage, fine, costs (including our legal fees) and other liability if they breach any of these terms.</span>
                    </p>
                    <p>
                        <span class="number">6</span>
                        <span class="text">Our service includes UCE. You should keep your password and encryption keys safe and confidential. You must not share your password with anyone else and should not release encryption keys to anyone else unless you wish them to have access to your data. If you lose or misplace your password, you will lose access to your data. We strongly urge you to use best practices for ensuring the safety of your system and devices (e.g. via security upgrades, firewall protection, anti-virus software, securing your devices).  Mega will never send you emails asking for your password or suggesting that you click a link to login to your account, so do not be fooled by any such email since it will not be from us.</span>
                    </p>
                    <p>
                        <span class="number">7</span>
                        <span class="text">You must maintain copies of all data stored by you on our services. We do not make any guarantees that there will be no loss of data or the services will be bug free. You should download all data prior to termination of services.</span>
                    </p>
                    <p>
                        <span class="number">8</span>
                        <span class="text">Our service may automatically (without us viewing the file content) delete a file you upload or give someone else access to where it determines that that file is an exact duplicate of the original file already on our service (a process usually referred to as deduplication). In that case, the original file will be accessed by you and any other user and that file will be retained for so long as any user has a right to access it under these terms.</span>
                    </p>
                    <p>
                        <span class="number">9</span>
                        <span class="text">We will store your data on our service subject to these terms and any plan you subscribe to. If you choose to stop using our services, you need to make sure you download your data first because after that we may, if we wish, delete it. If we suspend our services to you because you have breached these terms, or someone you have given access to has breached these terms, during the term of that suspension, we may, if we wish, deny you access to your data but keep it for evidential purposes. If we terminate our services to you because you or someone you have given access to has breached these terms, we may, if we wish, delete your data immediately or keep it for evidential purposes. In circumstances where we cease providing our services for other reasons, we will, if reasonably practicable and we are not prevented by law or likely to incur any liability in doing so, give you 30 days' notice to retrieve your data.</span>
                    </p>
                    <hr />

                    <h2>Your obligations</h2>
                    <p>
                        <span class="number">10</span>
                        <span class="text">Once you have subscribed to a plan for our services (with payment having been made via the website, one of our mobile apps or one of our related companies, affiliates or authorised resellers), you need to pay the fees (if any) for that plan (and any other taxes or duties). No matter which reseller or related or affiliated entity of Mega you make payment to, your contract for services is with Mega Limited and is governed exclusively by these terms and our policies referenced in these terms. We can also change the fees for our services (other than those you have already contracted and paid for) at any time if we give you notice. You can't withhold payment for any reason or claim any set-off without getting our written agreement.</span>
                    </p>
                    <p>
                        <span class="number">11</span>
                        <span class="text">If at any time you do not make a payment to us when you are supposed to (including on termination), we can (and this doesn't affect any other rights we may have against you):</span>
                    </p>
                    <p class="list">
                        <span class="number">11.1</span>
                        <span class="text">suspend or terminate your use of the service and/or;</span>
                    </p>
                    <p class="list">
                        <span class="number">11.2</span>
                        <span class="text">make you pay, on demand, default interest on any amount you owe us at 10% per annum calculated on a daily basis, from the date when payment was due until the date when payment is actually made by you. You will also need to pay all expenses and costs (including our full legal costs) in connection with us trying to recover any unpaid amount from you.</span>
                    </p>
                    <p>
                        <span class="number">12</span>
                        <span class="text">You must:</span>
                    </p>
                    <p class="list">
                        <span class="number">12.1</span>
                        <span class="text">where you have subscribed for a service, always give us and keep up to date, your correct contact and any billing details, particularly if these change;</span>
                    </p>
                    <p class="list">
                        <span class="number">12.2</span>
                        <span class="text">comply with these terms and any other agreements you have with us;</span>
                    </p>
                    <p class="list">
                        <span class="number">12.3</span>
                        <span class="text">comply with all applicable laws, regulations and rules when using the website, our services and with respect to any data you upload, share, or otherwise make available, using our services.</span>
                    </p>

                    <hr />

                    <h2>
                        What you can't do
                    </h2>
                    <p>
                        <span class="number">13</span>
                        <span class="text">You can't:</span>
                    </p>
                    <p class="list">
                        <span class="number">13.1</span>
                        <span class="text">assign or transfer any rights you have under these terms to any other person without our prior written consent;</span>
                    </p>
                    <p class="list">
                        <span class="number">13.2</span>
                        <span class="text">do anything that would damage, disrupt or place an unreasonable burden on our website or service or anyone else's use of our website, our mobile apps or a service including but not limited to denial of service attacks or similar;</span>
                    </p>
                    <p class="list">
                        <span class="number">13.3</span>
                        <span class="text">infringe anyone else's intellectual property (including but not limited to copyright) or other rights in any material;</span>
                    </p>
                    <p class="list">
                        <span class="number">13.4</span>
                        <span class="text">resell or otherwise supply our services to anyone else without our prior written consent;</span>
                    </p>
                    <p class="list">
                        <span class="number">13.5</span>
                        <span class="text">use our website, our mobile apps or a service, including, without limitation, any communication tools available through the website or our mobile apps, or any forum, chat room or message centre that we provide:</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.1</span>
                        <span class="text">to store, use, download, upload or otherwise transmit or make available, data in violation of any law (including to breach copyright or other intellectual property rights held by us or anyone else);</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.2</span>
                        <span class="text">to send unwelcome communications of any kind (including but not limited to unlawful unsolicited commercial communications) to anyone (e.g. spam or chain letters);</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.3</span>
                        <span class="text">to abuse, defame, threaten, stalk or harass anyone, or to harm them as defined in the Harmful Digital Communications Act 2015 (NZ) or any similar law in any jurisdiction;</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.4</span>
                        <span class="text">to store, use, download, upload or otherwise transmit, unsuitable, offensive, obscene or discriminatory information of any kind;</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.5</span>
                        <span class="text">to run any network scanning software, spiders, spyware, robots, open relay software or similar software;</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.6</span>
                        <span class="text">to upload anything or otherwise introduce any spyware, viruses, worms, trojan horses, time bombs or bots or any other damaging items which could interfere with our, or anyone else's, network, device or computer system;</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.7</span>
                        <span class="text">to use any software or device which may hinder the services (like mail bombs, war dialing, automated multiple pinging etc.);</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.8</span>
                        <span class="text">to attempt to gain unauthorised access to any services other than those to which you have been given express permission to access; or</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">13.5.9</span>
                        <span class="text">to impersonate anyone or to try to trick or defraud anyone for any reason (e.g. by claiming to be someone you are not).</span>
                    </p>
                    <p>
                        <span class="number">14</span>
                        <span class="text">If you register with us, you will need to use a password in conjunction with your specific username. You need to make sure your username and password are secure and confidential. Make sure you tell us straight away if you think or know someone else has used your password or there has been any other security breach. We will hold you responsible for anything done using your username and password. MAKE YOUR PASSWORD A STRONG ONE AND KEEP IT SECURE.  We are not responsible if someone else gains access to your computer or other device and/or your Mega password and/or encryption keys for any files.</span>
                    </p>

                    <hr />

                    <h1>
                        Intellectual Property
                    </h1>
                    <h2>
                        Our IP
                    </h2>
                    <p>
                        <span class="number">15</span>
                        <span class="text">You are not allowed to, and you can't let anyone else, copy, alter, distribute, display, licence, modify or reproduce, reverse assemble, or reverse compile (whether digitally, electronically, by linking, or in hard copy or by any means whatsoever) or use any of our code, content, copyright materials, intellectual property or other rights without getting our permission first in writing, other than in order to use our services and the website as intended or as allowed under any open source licences under which we use intellectual property provided by others. The open source code that we use, where we obtained it, and licences for that code are all referenced on our website and via our mobile apps.</span>
                    </p>
                    <p>
                        <span class="number">16</span>
                        <span class="text">Without limiting any other provision of these terms, you are only permitted to use the API if: you register at the developer registration page and agree that you may only publish or make available your application after we have approved it pursuant to our application approval process and licence agreement available on request at <a href="mailto:api@mega.nz">api@mega.nz</a>.</span>
                    </p>
                    <h2>
                        Your  IP
                    </h2>
                    <p>
                        <span class="number">17</span>
                        <span class="text">You own, or undertake that you are authorised to use, any intellectual property in any data you store on, use, download, upload, share or otherwise transmit to or from, our service. You grant us a worldwide, royalty free licence to use, store, back-up, copy, transmit, distribute, communicate and otherwise make available, your data, solely for the purposes of enabling you and those you give access to, to use the website and the services and for any other purpose related to provision of the services to you and them.</span>
                    </p>

                    <hr />

                    <h2>
                        Copyright Infringement Notices
                    </h2>
                    <p>
                        <span class="number">18</span>
                        <span class="text">We respect the copyright of others and require that users of our services comply with copyright laws. You are strictly prohibited from using our services to infringe copyright. You may not upload, download, store, share, display, stream, distribute, e-mail, link to, transmit, share or otherwise make available any files, data, or content that infringes any copyright or other proprietary rights of any person or entity.</span>
                    </p>
                    <p>
                        <span class="number">19</span>
                        <span class="text">We will respond to notices of alleged copyright infringement that comply with applicable law and are properly provided to us. If you believe that your content has been copied or used in a way that constitutes copyright infringement, please provide us with the following information: </span>
                    </p>
                    <p class="list">
                        <span class="number">(i)</span>
                        <span class="text">a physical or electronic signature of the copyright owner or a person authorised to act on their behalf;</span>
                    </p>
                    <p class="list">
                        <span class="number">(ii)</span>
                        <span class="text">identification of the copyrighted work claimed to have been infringed;</span>
                    </p>
                    <p class="list">
                        <span class="number">(iii)</span>
                        <span class="text">identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material including the exact URL link to that material on Mega;</span>
                    </p>
                    <p class="list">
                        <span class="number">(iv)</span>
                        <span class="text">your contact information, including your address, telephone number, and an email address; a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorised by the copyright owner, its agent, or the law; and</span>
                    </p>
                    <p class="list">
                        <span class="number">(v)</span>
                        <span class="text">a statement that the information in the notification is accurate, and, under penalty of perjury (unless applicable law says otherwise), that you are authorised to act on behalf of the copyright owner.</span>
                    </p>
                    <p>
                        <span class="number">20</span>
                        <span class="text">We reserve the right to remove data alleged to be infringing without prior notice, at our sole discretion, and without liability to you. In appropriate circumstances, we will also terminate your account if we consider you to be a repeat infringer. Our designated copyright agent for notice of alleged copyright infringement is:</span>
                    </p>
                    <div class="bottom-page-txt-pad">
                        <h2>
                            Mega Limited Copyright Agent:
                        </h2>
                        <p>
                            <span class="terms-agent-info name">
                                Hana Svobodova
                            </span>
                            <span class="terms-agent-info adress">
                                Private Bag 92533<br>
                                Wellesley St<br>
                                Auckland 1141<br>
                                New Zealand
                            </span>
                            <span class="terms-agent-info email">
                                <a href="mailto:copyright@mega.co.nz">copyright@mega.co.nz</a>
                            </span>
                        </p>
                    </div>

                    <hr />

                    <h2>
                        Copyright Counter Notices
                    </h2>
                    <p>
                        <span class="number">21</span>
                        <span class="text">We process all takedown notices based on good faith acceptance of the representations from the party submitting the takedown notice. We do not review the material before processing the takedown notice.</span>
                    </p>
                    <p>
                        <span class="number">22</span>
                        <span class="text">You may file a counter-notice if you believe that access to a file you have uploaded has been wrongly disabled because it was the subject of an incorrect takedown notice. You should only do so if you are confident that no other party owns copyright in the material, or you have rights to store the material and, if you are sharing it, that you have the right to do so.</span>
                    </p>
                    <p>
                        <span class="number">23</span>
                        <span class="text">Please understand that:</span>
                    </p>
                    <p class="list">
                        <span class="number">23.1</span>
                        <span class="text">When we receive your counter-notice, we pass it, including your address and other contact information, to the party who issued the original takedown notice.  By submitting your counter-notice you authorise us to do so.</span>
                    </p>
                    <p class="list">
                        <span class="number">23.2</span>
                        <span class="text">Filing a counter-notification may lead to legal proceedings between you and the complaining party.</span>
                    </p>
                    <p class="list">
                        <span class="number">23.3</span>
                        <span class="text">There may be adverse legal consequences in New Zealand and/or your jurisdiction if you make a false or bad faith allegation by using this process.</span>
                    </p>
                    <p class="list">
                        <span class="number">23.4</span>
                        <span class="text">If, when using this counter-notice process, you make a false or bad faith allegation or otherwise breach these terms or any of our policies and that causes us any loss, costs (including legal costs), damages or other liability, we reserve the right to claim for and recover from you that loss, those costs (including full legal costs on a solicitor client basis), damages and other liability, by deduction from any balance in our account and/or by proceedings in New Zealand and/or the jurisdiction of the address in your counter-notice.</span>
                    </p>
                    <p class="list">
                        <span class="number">23.5</span>
                        <span class="text">We provide this counter-notice process voluntarily for the purposes of all applicable copyright takedown and counter-notice regimes in New Zealand and other jurisdictions, but, in doing so, we do not submit to any jurisdiction, law, tribunal or court other than those of New Zealand, as set out in these terms.  We may amend, suspend or withdraw this counter-notice process at any time, provided that any counter-notices in train at that time shall continue to be processed.</span>
                    </p>
                    <p>
                        <span class="number">24</span>
                        <span class="text">By filing a counter-notice, you are deemed to have accepted the above terms. If you do not accept the above terms, do not file a counter-notice.</span>
                    </p>
                    <p>
                        <span class="number">25</span>
                        <span class="text">To file a counter-notice with us, you must provide a written communication to <a href="mailto:copyright@mega.nz">copyright@mega.nz</a> that includes substantially the following.</span>
                    </p>
                    <p class="list">
                        <span class="number">25.1</span>
                        <span class="text">Identification of the specific URL(s) of material that has been removed or to which access has been disabled.</span>
                    </p>
                    <p class="list">
                        <span class="number">25.2</span>
                        <span class="text">Your full name, address, telephone number, email address and the username of your Mega account.</span>
                    </p>
                    <p class="list">
                        <span class="number">25.3</span>
                        <span class="text">The statement: "I have a good faith belief that the material was removed or disabled as a result of a mistake or misidentification of the material to be removed or disabled."</span>
                    </p>
                    <p class="list">
                        <span class="number">25.4</span>
                        <span class="text">The reasons for that good faith belief, sufficient to explain the mistake or misidentification to the person who filed the original takedown notice.</span>
                    </p>
                    <p class="list">
                        <span class="number">25.5</span>
                        <span class="text">The statement "I will accept service of proceedings in New Zealand or in the jurisdiction where my address in this counter-notice is located, from the person who provided Mega Limited with the original copyright takedown notice or an agent of such person."</span>
                    </p>
                    <p class="list">
                        <span class="number">25.6</span>
                        <span class="text">Signature. A scanned physical signature or usual signoff in an email or using our webform will be accepted.</span>
                    </p>
                    <p class="list">
                        <span class="number">25.7</span>
                        <span class="text">You may also provide comments.</span>
                    </p>
                    <p>
                        <span class="number">26</span>
                        <span class="text">We will only accept a counter-notification directly from the user from whose account a URL or file has been disabled. For verification, counter-notifications must be submitted from the email address associated with the account.</span>
                    </p>
                    <p>
                        <span class="number">27</span>
                        <span class="text">If we do not receive any further communication from or on behalf of the person who originally submitted the takedown notice or any communication we do receive does not in our sole opinion adequately justify the original takedown notice, we may, but shall not be obliged to, reinstate the material in approximately 10-14 days provided we have no reason to believe that the material infringes copyright.</span>
                    </p>
                    <p>
                        <span class="number">28</span>
                        <span class="text">Nothing in this counter-notice section prejudices our right to remove or disable access to any material at any time, for any reason or no reason.</span>
                    </p>

                    <hr />

                    <h2>
                        Other Infringement Notices
                    </h2>
                    <p>
                        <span class="number">29</span>
                        <span class="text">If you consider there has been some other infringement or breach of law, or of these terms, and wish to file a complaint, send it to <a href="mailto:abuse@mega.nz">abuse@mega.nz</a>. We will generally require the same amount of detail as set out above for copyright infringement notices. See also our <a href="/takedown"  class="clickurl">Takedown Guidance Policy</a>.</span>
                    </p>

                    <hr />

                    <h2>
                        Suspension and Termination
                    </h2>
                    <p>
                        <span class="number">30</span>
                        <span class="text">You can terminate your access to the website and our services at any time by sending an email to <a href="mailto:support@mega.nz">support@mega.nz</a> requesting termination or by following the 'Cancel your account' link in the Account section of the website or mobile app. However, we will not provide any part-refund for any allowance not used on any subscription you may have other than under clause 3 above.</span>
                    </p>
                    <p>
                        <span class="number">31</span>
                        <span class="text">We can immediately suspend or terminate your access to the website and our services without notice to you:</span>
                    </p>
                    <p class="list">
                        <span class="number">31.1</span>
                        <span class="text">if you breach any of these terms or any other agreement you have with us;</span>
                    </p>
                    <p class="list">
                        <span class="number">31.2</span>
                        <span class="text">if you are not a registered user, at any time;</span>
                    </p>
                    <p class="list">
                        <span class="number">31.3</span>
                        <span class="text">if you are using a free account and that account has been inactive for over 3 months or we have been unable to contact you using the email address in your account details.</span>
                    </p>
                    <p>
                        <span class="number">32</span>
                        <span class="text">We may also terminate or suspend our services or any part of our services, for all users or for groups of users, without notice, at any time, for any reason or no reason.</span>
                    </p>
                    <p>
                        <span class="number">33</span>
                        <span class="text">All charges outstanding on your account must be paid at termination.</span>
                    </p>

                    <hr />

                    <h2>
                        Export Control
                    </h2>
                    <p>
                        <span class="number">34</span>
                        <span class="text">You may not use, export, re-export, import, or transfer any software or code supplied as part of your use of the website or our services: (a) into any United States or New Zealand embargoed countries ; or (b) to anyone listed as a specifically prohibited recipient by the United States Government or New Zealand Government. By using the website and our services, you represent and warrant that you are not located in any such country or on any such list. You also will not use the website or our services for any purpose prohibited by United States, New Zealand or any other law, including, without limitation, the development, design, manufacture or production of missiles, nuclear, chemical or biological weapons.</span>
                    </p>

                    <hr />

                    <h2>
                        Severability and Waiver
                    </h2>
                    <p>
                        <span class="number">35</span>
                        <span class="text">If any provision of these terms is held to be invalid or unenforceable, the remaining provisions will remain in full force and effect. If we do not enforce any right or provision of these terms or if we in any instance grant any concession or indulgence, that will not be deemed a waiver of such right or provision or obligate us to grant any concession or indulgence to anyone else.</span>
                    </p>

                    <hr />

                    <h2>
                        Force Majeure
                    </h2>
                    <p>
                        <span class="number">36</span>
                        <span class="text">We will not be liable by reason of any failure or delay in the performance of our obligations because of events beyond our reasonable control, which may include, without limitation, denial-of-service attacks, strikes, shortages, riots, insurrection, fires, flood, storm, explosions, acts of God, war, terrorism, governmental action, labour conditions, earthquakes, material shortages, extraordinary internet congestion or extraordinary connectivity issues or failure of a third party host, (each a "Force Majeure Event"). Upon the occurrence of a Force Majeure Event, we will be excused from any further performance of the obligations which are affected by that Force Majeure Event for so long as the event continues.</span>
                    </p>

                    <hr />

                    <h2>
                        DISCLAIMERS
                    </h2>
                    <p>
                        <span class="number">37</span>
                        <span class="text">WE DON'T GIVE YOU ANY WARRANTY OR UNDERTAKING ABOUT THE SERVICES OR THE WEBSITE WHICH ARE PROVIDED "AS IS". TO AVOID DOUBT, ALL IMPLIED CONDITIONS OR WARRANTIES ARE EXCLUDED AS MUCH AS IS PERMITTED BY LAW, INCLUDING (WITHOUT LIMITATION) WARRANTIES OF MERCHANTABILITY, FITNESS FOR PURPOSE, SAFETY, RELIABILITY, DURABILITY, TITLE AND NON-INFRINGEMENT.</span>
                    </p>
                    <p>
                        <span class="number">38</span>
                        <span class="text">We will try to give you access to our website and our mobile apps all the time, but we do not make any promises or provide you with a warranty that our website or the services will be without any faults, bugs or interruptions.</span>
                    </p>
                    <p>
                        <span class="number">39</span>
                        <span class="text">Whilst we intend that the services should be available 24 hours a day, seven days a week, it is possible that on occasions the website or services may be unavailable to permit maintenance or other development activity to take place or be periodically interrupted for reasons outside our control.</span>
                    </p>
                    <p>
                        <span class="number">40</span>
                        <span class="text">Information on our website will change regularly. We will try to keep our website up to date and correct, but again, we do not make any promises or guarantees about the accuracy of the information on our website.</span>
                    </p>
                    <p>
                        <span class="number">41</span>
                        <span class="text">We do not warrant that the services will meet your requirements or that they will be suitable for any particular purpose. It is your sole responsibility to determine that the services meet the needs of your business or otherwise and are suitable for the purposes for which they are used.</span>
                    </p>
                    <p>
                        <span class="number">42</span>
                        <span class="text">We also aren't legally responsible for:</span>
                    </p>
                    <p class="list">
                        <span class="number">42.1</span>
                        <span class="text">any corruption or loss of data or other content which you or anyone else may experience after using our website or our mobile apps, or any problems you may have when you view or navigate our website or use any of our mobile apps;</span>
                    </p>
                    <p class="list">
                        <span class="number">42.2</span>
                        <span class="text">devices or equipment that we do not own or have not given you;</span>
                    </p>
                    <p class="list">
                        <span class="number">42.3</span>
                        <span class="text">if you do not follow our instructions or these terms or our <a href="/privacy"  class="clickurl">Privacy Policy</a>;</span>
                    </p>
                    <p class="list">
                        <span class="number">42.4</span>
                        <span class="text">any actions or non-actions of other people which disrupt access to our website including the:</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">42.4.1</span>
                        <span class="text">content of any data;</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">42.4.2</span>
                        <span class="text">content of ads appearing on our website or our mobile apps (including links to advertisers' own websites) as the advertisers are responsible for the ads (we don't endorse the advertisers' products);</span>
                    </p>
                    <p class="sub-list">
                        <span class="number">42.4.3</span>
                        <span class="text">content of other people's websites even if a link to their website is included on our website.</span>
                    </p>
                    <p>
                        <span class="number">43</span>
                        <span class="text">You warrant that if you are accessing and using the services for the purposes of a business then, to the maximum extent permitted by law, any statutory consumer guarantees or legislation intended to protect non-business consumers in any jurisdiction (such as the Consumer Guarantees Act 1993 in New Zealand) do not apply to the supply of the services, the website, our mobile apps or these terms.</span>
                    </p>

                    <hr />

                    <h2>
                        LIMITATION OF LIABILITY AND INDEMNITY BY YOU
                    </h2>
                    <p>
                        <span class="number">44</span>
                        <span class="text">TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE (THIS INCLUDES OUR EMPLOYEES, OFFICERS, AGENTS AND AUTHORISED RESELLERS) ARE NOT LIABLE WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), EQUITY OR ON ANY OTHER GROUNDS TO YOU OR ANYONE ELSE FOR ANY DIRECT, INDIRECT OR CONSEQUENTIAL DAMAGE, LOSS, COST OR EXPENSE, DAMAGE TO PROPERTY, INJURY TO PERSONS, LOSS OF PROFITS, LOSS OF DATA OR REVENUE, LOSS OF USE, LOST BUSINESS OR MISSED OPPORTUNITIES, WASTED EXPENDITURE OR SAVINGS WHICH YOU MIGHT HAVE HAD, DENIAL OF SERVICE OR ACCESS TO OUR WEBSITE, OCCURRING DIRECTLY OR INDIRECTLY FROM THE USE OR ABILITY OR INABILITY TO USE, OR RELIANCE ON, OUR WEBSITE, OR THE SERVICE AND BASED ON ANY TYPE OF LIABILITY INCLUDING BREACH OF CONTRACT, BREACH OF WARRANTY, TORT (INCLUDING NEGLIGENCE), PRODUCT LIABILITY OR OTHERWISE.</span>
                    </p>
                    <p>
                        <span class="number">45</span>
                        <span class="text">YOU SHALL INDEMNIFY US AGAINST ALL CLAIMS, COSTS (INCLUDING ALL OUR LEGAL COSTS), EXPENSES, DEMANDS OR LIABILITY, DAMAGES AND LOSSES WHETHER DIRECT, INDIRECT, CONSEQUENTIAL, OR OTHERWISE, AND WHETHER ARISING IN CONTRACT, TORT (INCLUDING IN EACH CASE NEGLIGENCE), OR EQUITY OR OTHERWISE, ARISING DIRECTLY OR INDIRECTLY FROM BREACH BY YOU OR ANYONE YOU GIVE ACCESS TO YOUR DATA, OF ANY OF THESE TERMS OR ANY POLICY REFERENCED IN THESE TERMS.</span>
                    </p>
                    <p>
                        <span class="number">46</span>
                        <span class="text">IF YOU ARE NOT SATISFIED WITH THE SERVICES, THEN YOUR SOLE AND EXCLUSIVE REMEDY IS TO TERMINATE YOUR USE OF OUR SERVICES AND THE CONTRACT YOU HAVE WITH US.</span>
                    </p>
                    <p>
                        <span class="number">47</span>
                        <span class="text">DESPITE THE ABOVE, IF ANY COURT OR OTHER COMPETENT AUTHORITY HOLDS US (THIS INCLUDES OUR OFFICERS, STAFF AND AGENTS) LIABLE FOR ANY MATTER RELATED TO THESE TERMS OR OUR SERVICES, OUR TOTAL COMBINED LIABILITY WILL BE LIMITED TO THE MOST RECENT SUBSCRIPTION AMOUNT YOU HAVE PAID TO US.</span>
                    </p>

                    <hr />

                    <h2>
                        Disputes and Choice of Law
                    </h2>
                    <p>
                        <span class="number">48</span>
                        <span class="text">Any and all disputes arising of this agreement, its termination, or our relationship with you shall be determined by binding arbitration under the Arbitration Act 1996 in Auckland, New Zealand, by one arbitrator who shall be a lawyer knowledgeable in relevant technology matters appointed by the President for the time being of the Arbitrators and Mediators Institute of New Zealand Incorporated (AMINZ) on a request by either you or us.  The following terms apply to the arbitration in addition to those implied by New Zealand law:</span>
                    </p>
                    <p class="list">
                        <span class="number">48.1</span>
                        <span class="text">Notice must be given to apply for any interim measure in the arbitration proceeding;</span>
                    </p>
                    <p class="list">
                        <span class="number">48.2</span>
                        <span class="text">The arbitration proceeding will commence when a request is made to AMINZ to appoint an arbitrator;</span>
                    </p>
                    <p class="list">
                        <span class="number">48.3</span>
                        <span class="text">The arbitration shall be in English. The Arbitrator shall permit the parties and witnesses to appear by videoconference that we will organise and pay for;</span>
                    </p>
                    <p class="list">
                        <span class="number">48.4</span>
                        <span class="text">We will pay the arbitrator's fees and expenses unless the arbitrator determines that you should meet some or all of those fees and expenses because your dispute is frivolous or vexatious.</span>
                    </p>

                    <p>
                        <span class="number">49</span>
                        <span class="text">The relationship we have with you under these terms and their interpretation and construction together with any dispute, suspension or termination arising out of or in connection with them, is governed exclusively by New Zealand law. Mega does not submit to any other jurisdiction other than New Zealand and New Zealand law. You and we submit to the exclusive jurisdiction of the New Zealand arbitral tribunals (and courts for the purposes of that enforcement of any arbitral award or appeal on question of law).The parties agree to enforcement of the arbitral award and orders in New Zealand and in any other country.</span>
                    </p>

                    <hr />
                    <h2>
                        Information and Privacy
                    </h2>
                    <p>
                        <span class="number">50</span>
                        <span class="text">We reserve the right to disclose data and other information as required by law or any competent authority. Our approach is referenced in our <a href="/privacy"  class="clickurl">Privacy Policy</a> and <a href="/takedown"  class="clickurl">Takedown Guidance Policy</a> both of which are subject to these terms.</span>
                    </p>
                    <p>
                        <span class="number">51</span>
                        <span class="text">You and anyone else you give access to are also bound by our <a href="/privacy" class="clickurl">Privacy Policy</a> and <a href="/takedown">Takedown Guidance Policy</a>. By accepting these terms, you also accept our <a href="/privacy" class="clickurl">Privacy Policy</a> and <a href="/takedown" class="clickurl">Takedown Guidance Policy</a>.</span>
                    </p>

                    <hr />

                    <h2>
                        Notices
                    </h2>
                    <p>
                        <span class="number">52</span>
                        <span class="text">You can contact us by sending an email to <a href="mailto:support@mega.nz">support@mega.nz</a>. If we need to contact you or provide you with notice we will email you at the email address you have recorded in your account details and such notices will be valid whether or not you are using that address. We may also send notices via any internal messaging system we may provide.</span>
                    </p>

                    <hr />

                    <h2>
                        Rights to Third Parties
                    </h2>
                    <p>
                        <span class="number">53</span>
                        <span class="text">Mega Limited employees, officers, agents, related companies and affiliates together with authorised suppliers of services to and authorised resellers of, our services, are entitled to the benefit of all indemnities and other provisions of these terms which are for the benefit of Mega in these terms.</span>
                    </p>

                    <hr />

                    <h2>
                        Entire Agreement
                    </h2>
                    <p>
                        <span class="number">54</span>
                        <span class="text">These terms, our Privacy Policy, the terms of any plan you purchase and any other provisions expressly referenced in these terms, together constitute the entire agreement between us relating to your use of the website and our services. From the date they come into force, in respect of any use of the website and our services after that, they supersede and replace any prior agreement, arrangement or understanding between you and us regarding the website and our services. No agreement, arrangement or understanding alleged to be made between us, or representation alleged to be made, by us or on our behalf, to you, if inconsistent with these terms, shall be valid unless agreed to in writing by an executive officer of Mega Limited.</span>
                    </p>

                    <hr />

                    <p>
                        Last updated 20 January 2016, effective 20 February 2016.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
