/*
* TritonHelper v1.3
* Copyright 2014, Charles Packer
* 2/26/2014
*/

/* ==========================================================
     ++++++++++ BEGIN Class Schedule Formatting +++++++++++++
   ==========================================================*/
    #class_schedulexx {clear:both;background:#7dc7e0;}
    #class_schedule {clear:both;}
    #class_schedule h3 {background:transparent;font-size:20px;color:#003366;}
    #class_schedule .cs_box_content {padding-top:0;}
    #class_schedule .notEnrolled {padding-top:0; font-size:16px;padding-bottom: 10px; padding-left: 20px;}
    #class_schedule .cs_box_content table {width:100%;}
    #class_schedule .cs_box_content table th {padding:2px;font: 17px/22px 'Helvetica', Arial, sans-serif;color:#3191ad;width:14.25%;}
    #class_schedule .cs_box_content table td {padding:2px;}
    #class_schedule .cs_box_content table td span.class {display:block;padding:4px;color:#fff;font-size:95%;}
    span.class_group_0 {background:#2B5A88;}
    span.class_group_1 {background:#E6BC2E;}
    span.class_group_2 {background:#0A8DAD;}
    span.class_group_3 {background:#081933;}
    span.class_group_4 {background:#986828;}
    span.class_group_5 {background:#1c3664;}
    span.class_group_6 {background:#BF9D2F;}
    span.class_group_7 {background:#4EA1AF;}
    span.class_group_8 {background:#0A4D84;}
    span.class_group_9 {background:#0A7DAB;}
    /* underline map links in class schedule */
    span.class_group_0 a {text-decoration: underline;}
    span.class_group_1 a {text-decoration: underline;}
    span.class_group_2 a {text-decoration: underline;}
    span.class_group_3 a {text-decoration: underline;}
    span.class_group_4 a {text-decoration: underline;}
    span.class_group_5 a {text-decoration: underline;}
    span.class_group_6 a {text-decoration: underline;}
    span.class_group_7 a {text-decoration: underline;}
    span.class_group_8 a {text-decoration: underline;}
    span.class_group_9 a {text-decoration: underline;}
    /* prevent 'open new window' image from appearing in class schedule map links  */
    span.class_group_0 a[target="_blank"] {background:none}
    span.class_group_1 a[target="_blank"] {background:none}
    span.class_group_2 a[target="_blank"] {background:none}
    span.class_group_3 a[target="_blank"] {background:none}
    span.class_group_4 a[target="_blank"] {background:none}
    span.class_group_5 a[target="_blank"] {background:none}
    span.class_group_6 a[target="_blank"] {background:none}
    span.class_group_7 a[target="_blank"] {background:none}
    span.class_group_8 a[target="_blank"] {background:none}
    span.class_group_9 a[target="_blank"] {background:none}
    a:link {color:#FFFFFF;}
    a:visited {color:#FFFFFF;}
    a:active {color:#FFFFFF;}
    span.class_group_waitlist {background:transparent; border-style: dotted;}
    span.class_group_waitlist a {text-decoration: underline;}
    span.class_group_waitlist a[target="_blank"] {background:none}
    span.class_group_waitlist a:link {color:#000000;}
    span.class_group_waitlist a:visited {color:#000000;}
    span.class_group_waitlist a:active {color:#000000;}
    #announcements_and_deadlines a:link {color:#000000;}
    #announcements_and_deadlines a:visited {color:#000000;}
    #announcements_and_deadlines a:active {color:#000000;}
    #cs_footer a:hover {text-decoration: underline;}
    #tdr_footer_links a:link {color:#0066CC;}
    #tdr_footer_links a:visited {color:#0066CC;}
    #tdr_footer_links a:active {color:#003366;}
    #tdr_footer_links a:hover {color:#003366;}
    #class_schedule .cs_box_header a {color:#0066CC;}
    #class_schedule .cs_box_content table td span.class_group_waitlist {display:block;padding:4px;color:#000000;font-size:95%;}
    #class_schedule .cs_box_footer {text-align:right;background:transparent;font-size:110%;}
    #class_schedule .cs_box_footer a {font-weight:normal;color:#000000;text-decoration:underline;}
    #class_schedule .cs_box_footer a:link {text-decoration:underline;}
    #class_schedule .cs_box_footer a strong {color:#fff;}
    #cs_unscheduled {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -x-system-font: none;
    background-attachment: scroll;
    background-color: #021633;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    clear: both;
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-size: 13px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 13px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    }

/* cs box */
.cs_box {
    background: #e6f6ff;
    color: #000;
    margin-bottom: 1em;
}
.cs_box h3 {
    margin-bottom: 0;
    padding: 0 6px;
    background-color: #069;
    color: #fff;
    font: 22px/34px Impact, Arial, sans-serif;
    height: 34px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cs_box h4 {
    background-color: #e6f6ff;
    color: #036;
}
.cs_box h4 a {
    color: #036;
}
/* cs box content */
.cs_box .cs_box_content {
    padding: 10px 20px;
}
/* cs box footer */
.cs_box .cs_box_footer {
    padding: 4px 20px;
    background: #d0e4ea;
}
.cs_box .cs_box_footer a {
    font-weight: bold;
    color: #036;
}
/* annoucement */
#cycle_prev {
    position: absolute;
    top: 8px;
    right: 40px;
    cursor: pointer;
}
#cycle_next {
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
}
#announcements_and_deadlines h3 {
    background: #111944;
}

#cs_announcements {
    width: 100%;
    overflow: hidden;
    background: url('images/announcements_bg.png') 0px 0px repeat-x;
}
.cs_announcement_group {
    width: 100%;
}
.cs_announcement {
    float: left;
    width: 33%;
    margin: 0 0 1% 0;
}
.cs_announcement h4 {
    padding: 0 6px;
    background: #a8d3dd;
    color: #036;
    font: 22px/28px Impact, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.cs_announcement .cs_announcement_content {
    padding: 0px 5px !important;
    line-height: 1.2;
}
/* cs footer */
#cs_footer {
    clear: both;
    font: 20px/22px Impact, Arial, sans-serif;
    background: #021633;
    padding: 5px 10px;
    overflow: hidden
}
#cs_footer a {
    color: #aac;
    text-decoration: none;
    margin-right: 70px;
    text-transform: uppercase;
}
#cs_footer a.last {
    margin-right: 0;
}
/* ==========================================================
     ------------ END Class Schedule Formatting -------------
   ==========================================================*/

/* ==========================================================
     ++++++++++ BEGIN Content formatting +++++++++++++
   ==========================================================*/
#logo {
    position: fixed;
    top: 25px;
    left: 50%;
    margin-left: -30px;
    height: 50px;
    width: 50px;
    background-image: url("simplelogo.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

.hidden-label {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
}

#content {
    margin-top: 78px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 47px;
    min-height: 100px;
    max-height: 100%;
    min-width: 250px;
    border: 1px black;
}

header {
    position:fixed;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #e1ddd8;
    top:0px;
}
footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 36px;
}
header, footer {
    margin: 0;
    overflow: hidden;
    background: #036083;
    opacity: 1;
    color: #fff;
}

#header-text {
    font-family:'Merriweather Sans', sans-serif;
    font-weight: bold;
    margin-top: 3px;
    letter-spacing: -1px;
    font-size: 20px;
    text-align: center;
}

#footer-text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

.extra-info {
    text-align: left;
    font-size: 12px;
}

details summary::-webkit-details-marker {
    color: #ABABAB;
    float: right;
    margin-right: 20px;
}
summary {
    outline: none;
}

#schedule-inside {
    background: #e6f6ff;
    border-top: 1px dotted #EBEBEB;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section-inside {
    text-align: center;
    background: #e6f6ff;
    border-top: 1px dotted #EBEBEB;
    padding: 15px;
}

.section-item
{
    border-top: 1px solid #EBEBEB;
    padding: 10px 0px 10px 15px;
    /*text-align: center;*/
}
.section-item:hover
{
    border-top: 1px solid #EBEBEB;
    background-color: #fff;
}

#usefullinks {
    font-size: 12px;
}
#usefullinks a:link {color:#036083;}
#usefullinks a:visited {color:#036083;}
#usefullinks a:active {color:#444;}
.extra-info a:link {color:#036083;}
.extra-info a:visited {color:#036083;}
.extra-info a:active {color:#444;}

/* ==========================================================
     ------------ END Content Formatting -------------
   ==========================================================*/

 /*#Basic Styles*/
/*==================================================*/
body {
    margin: 0px;
    background-image:url("wbluetextured.png");
    /*background: #fff;*/
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering*/
    -webkit-text-size-adjust: 100%;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Links
================================================== */
a, a:visited { text-decoration: none; outline: 0; }
a:hover, a:focus { text-decoration:none;}
p a, p a:visited { line-height: inherit; }

/* #Forms
================================================== */

form {
    margin-bottom: 10px; }
fieldset {
    margin-bottom: 10px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    background: #fff; }
select {
    padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
    min-height: 60px; }
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
select {
    width: 220px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* #Buttons
================================================== */
.purelycss_elegance_button{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    margin:0 5px 5px 0;
    padding:10px 50px;
    font-size:12px;
    line-height:15px;
    letter-spacing:2px;
    border:2px solid #111;
    background:#111;
    color:#f8f8f8;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0.15)),color-stop(1,rgba(0,0,0,0.1)));
    background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:-moz-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:-o-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    /*-webkit-transition:all .5s ease;*/
    /*-moz-transition:all .5s ease;*/
    /*-o-transition:all .5s ease;*/
    /*transition:all .5s ease;*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;}
.purelycss_elegance_button.size_small{font-size:10px;padding:6px 25px;}
.purelycss_elegance_button.size_large{font-size:15px;padding:15px 70px;}
.purelycss_elegance_button:hover{text-decoration:none;cursor:pointer;color:#fff;opacity:.7;}
.purelycss_elegance_button:active{position:relative;top:1px;}

/* Sizes / Alignments
-------------------------------------------------------------- */
.size_small{padding:8px 20px;font-size:10px;line-height:10px;}
.size_large{padding:15px 40px;font-size:17px;line-height:20px;}
.align_left{float:left;margin:0 15px 5px 0;}
.align_right{float:right;margin:0 0 5px 15px;}
.align_full{clear:both;display:block;margin:5px 0;}

/* Colors / Hovers
-------------------------------------------------------------- */
.color_red,.hover_red:hover{background-color:#700;border-color:#700;opacity:1;}
.color_orange,.hover_orange:hover{background-color:#e98813;border-color:#e98813;opacity:1;}
.color_yellow,.hover_yellow:hover{background-color:#f7c808;border-color:#f7c808;opacity:1;}
.color_green,.hover_green:hover{background-color:#74941f;border-color:#74941f;opacity:1;}
.color_olive,.hover_olive:hover{background-color:#3a491a;border-color:#3a491a;opacity:1;}
.color_teal,.hover_teal:hover{background-color:#089;border-color:#089;opacity:1;}
.color_blue,.hover_blue:hover{background-color:#00437f;border-color:#00437f;opacity:1;}
.color_deepblue,.hover_deepblue:hover{background-color:#092334;border-color:#092334;opacity:1;}
.color_purple,.hover_purple:hover{background-color:#4b2c5a;border-color:#4b2c5a;opacity:1;}
.color_hotpink,.hover_hotpink:hover{background-color:#bc006e;border-color:#bc006e;opacity:1;}
.color_slategrey,.hover_slategrey:hover{background-color:#3b424a;border-color:#3b424a;opacity:1;}
.color_mauve,.hover_mauve:hover{background-color:#625b56;border-color:#625b56;opacity:1;}
.color_pearl,.hover_pearl:hover{background-color:#ab998f;border-color:#ab998f;opacity:1;}
.color_steelblue,.hover_steelblue:hover{background-color:#788794;border-color:#788794;opacity:1;}
.color_mossgreen,.hover_mossgreen:hover{background-color:#717a75;border-color:#717a75;opacity:1;}
.color_wheat,.hover_wheat:hover{background-color:#79745d;border-color:#79745d;opacity:1;}
.color_coffee,.hover_coffee:hover{background-color:#372e25;border-color:#372e25;opacity:1;}
.color_copper,.hover_copper:hover{background-color:#6b3c02;border-color:#6b3c02;opacity:1;}
.color_silver,.hover_silver:hover{background-color:#666;border-color:#666;opacity:1;}
.color_black,.hover_black:hover{background-color:#111;border-color:#111;opacity:1;}