/*
* TritonHelper v1.3
* Copyright 2014, Charles Packer
* 2/26/2014
*/

#logo {
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -50px;
    height: 100px;
    width: 100px;
    background-image: url("simplelogo.png");
    background-size: 100%;
    background-repeat:no-repeat;
}

header {
    position:fixed;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #e1ddd8;
    background-image:url("lightblue.jpg");
    top:0px;
}
footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 36px;
}
header, footer {
    margin: 0;
    overflow: hidden;
    background: #036083;
    opacity: 1;
    color: #fff;
}

#header-text {
    font-family:'Merriweather Sans', sans-serif;
    font-weight: bold;
    margin-top: 15px;
    letter-spacing: -1px;
    font-size: 40px;
    text-align: center;
}

#footer-text {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
}

#content {
    position: absolute;
    margin-top: 200px;
    margin-left: -300px;
    left: 50%;
    min-height: 100px;
    max-height: 50%;
    width: 600px;
    border: 1px black;
}

#current-login {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

#step-one {
}

#step-two {
    padding-top: 140px;
}

#update-form {
    position: absolute;
    left: 50%;
    margin-left: -105;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

#signature {
    margin: 30px;
    font-size: 11px;
    text-align: center;
}

body {
    margin: 0px;
    /*background: #fff;*/
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering*/
    -webkit-text-size-adjust: 100%;
}

/* for splash page */
.instructions {
    text-align: center;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
}

#getting-started {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-family: "Georgia", "Times New Roman", serif;
    font-weight: normal; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #777;  }

em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

/* #Links
================================================== */
a, a:visited { text-decoration: none; outline: 0; }
a:hover, a:focus { text-decoration:none;}
p a, p a:visited { line-height: inherit; }

/* #Forms
================================================== */

form {
    margin-bottom: 10px; }
fieldset {
    margin-bottom: 10px; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
    background: #fff; }
select {
    padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
textarea {
    min-height: 60px; }
label,
legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
select {
    width: 220px; }
input[type="checkbox"] {
    display: inline; }
label span,
legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }

/* Buttons
-------------------------------------------------------------- */
.purelycss_elegance_button{
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    text-decoration:none;
    display:inline-block;
    text-align:center;
    margin:0 5px 5px 0;
    padding:10px 50px;
    font-size:12px;
    line-height:15px;
    letter-spacing:2px;
    border:2px solid #111;
    background:#111;
    color:#f8f8f8;
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0.15)),color-stop(1,rgba(0,0,0,0.1)));
    background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:-moz-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:-o-linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    background-image:linear-gradient(top,rgba(255,255,255,0.15),rgba(255,255,255,0.01));
    -webkit-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    box-shadow:1px 1px 0 rgba(255,255,255,0.4) inset,-1px -1px 0 rgba(255,255,255,0.4) inset,1px 0 0 rgba(0,0,0,.1);
    /*-webkit-transition:all .5s ease;*/
    /*-moz-transition:all .5s ease;*/
    /*-o-transition:all .5s ease;*/
    /*transition:all .5s ease;*/
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;}
.purelycss_elegance_button.size_small{font-size:10px;padding:6px 25px;}
.purelycss_elegance_button.size_large{font-size:15px;padding:15px 70px;}
.purelycss_elegance_button:hover{text-decoration:none;cursor:pointer;color:#fff;opacity:.7;}
.purelycss_elegance_button:active{position:relative;top:1px;}

/* Sizes / Alignments
-------------------------------------------------------------- */
.size_small{padding:8px 20px;font-size:10px;line-height:10px;}
.size_large{padding:15px 40px;font-size:17px;line-height:20px;}
.align_left{float:left;margin:0 15px 5px 0;}
.align_right{float:right;margin:0 0 5px 15px;}
.align_full{clear:both;display:block;margin:5px 0;}

/* Colors / Hovers
-------------------------------------------------------------- */
.color_red,.hover_red:hover{background-color:#700;border-color:#700;opacity:1;}
.color_orange,.hover_orange:hover{background-color:#e98813;border-color:#e98813;opacity:1;}
.color_yellow,.hover_yellow:hover{background-color:#f7c808;border-color:#f7c808;opacity:1;}
.color_green,.hover_green:hover{background-color:#74941f;border-color:#74941f;opacity:1;}
.color_olive,.hover_olive:hover{background-color:#3a491a;border-color:#3a491a;opacity:1;}
.color_teal,.hover_teal:hover{background-color:#089;border-color:#089;opacity:1;}
.color_blue,.hover_blue:hover{background-color:#00437f;border-color:#00437f;opacity:1;}
.color_deepblue,.hover_deepblue:hover{background-color:#092334;border-color:#092334;opacity:1;}
.color_purple,.hover_purple:hover{background-color:#4b2c5a;border-color:#4b2c5a;opacity:1;}
.color_hotpink,.hover_hotpink:hover{background-color:#bc006e;border-color:#bc006e;opacity:1;}
.color_slategrey,.hover_slategrey:hover{background-color:#3b424a;border-color:#3b424a;opacity:1;}
.color_mauve,.hover_mauve:hover{background-color:#625b56;border-color:#625b56;opacity:1;}
.color_pearl,.hover_pearl:hover{background-color:#ab998f;border-color:#ab998f;opacity:1;}
.color_steelblue,.hover_steelblue:hover{background-color:#788794;border-color:#788794;opacity:1;}
.color_mossgreen,.hover_mossgreen:hover{background-color:#717a75;border-color:#717a75;opacity:1;}
.color_wheat,.hover_wheat:hover{background-color:#79745d;border-color:#79745d;opacity:1;}
.color_coffee,.hover_coffee:hover{background-color:#372e25;border-color:#372e25;opacity:1;}
.color_copper,.hover_copper:hover{background-color:#6b3c02;border-color:#6b3c02;opacity:1;}
.color_silver,.hover_silver:hover{background-color:#666;border-color:#666;opacity:1;}
.color_black,.hover_black:hover{background-color:#111;border-color:#111;opacity:1;}