@charset "UTF-8";
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Light.woff2') format('woff2'), url('../fonts/SourceSansPro-Light.woff') format('woff'), url('../fonts/SourceSansPro-Light.ttf') format('truetype'), url('../fonts/SourceSansPro-Light.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Regular.woff2') format('woff2'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype'), url('../fonts/SourceSansPro-Regular.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('../fonts/SourceSansPro-Semibold.eot');
    src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'), url('../fonts/SourceSansPro-Semibold.woff') format('woff'), url('../fonts/SourceSansPro-Semibold.ttf') format('truetype'), url('../fonts/SourceSansPro-Semibold.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'source_sans_proregular', sans-serif;
    position: relative;
}
/* Prevent selection and highlighting */
body * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* Re-enable selection and highlighting for specific things */
input, textarea {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
.hidden {
    display: none;
}
a, a:link, a:visited, a:hover, a:active {
    outline: none;
    text-decoration: none;
}
input, div, textarea {
    outline: none;
    -moz-appearance: none;
}
a, a:link, a:visited, a:hover, a:active, a:focus img, a:focus img, .div, span, input {
    outline: none;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    margin: 0px;
    padding: 0px;
    display: block;
}
.right {
    float: right;
}
.left {
    float: left;
}
.mobile.main-block {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
    position: relative;
    background-color: #fafafa;
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    letter-spacing: 0;
}
.mobile.main-block.overlay {
    position: absolute;
    z-index: 100;
    background-color: rgba(250, 250, 250, 0.95);
    left: 0;
    top: 0;
}
.mobile.main-block.overlay.arranged-to-top {
    z-index: 1010;
}
.mobile.content-row {
    display: table-row;
}
.mobile.content-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.mobile.logo {
    width: 68px;
    height: 68px;
    display: block;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: 1px 2px;
    position: absolute;
    left: 63px;
    top: 61px;
}
.overlay .mobile.logo {
    display: none;
}
.homepage-main-block {
    display: table;
    width: 100%;
    height: 100%;
}
.homepage-main-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.mobile.homepage .mobile.fm-header {
    border-bottom: 1px solid #f8f9fa;
}
.mobile.homepage .fm-scrolling {
    background-color: #f8f9fa;
}
.mobile.homepage .company-slogan {
    color: #333333;
    font-family: 'source_sans_prolight', sans-serif;
    font-size: 44px;
    margin: 0 32px 18px 32px;
    text-align: center;
}
.mobile.homepage .first-message {
    font-size: 20px;
    line-height: 1.63;
    color: #778187;
    text-align: center;
    margin: 0 auto 12px auto;
    padding: 0 32px 0 32px;
    max-width: 500px;
}
.mobile.homepage .download-app {
    margin: 40px auto 0 auto;
}
.mobile.homepage .company-logo {
    height: 120px;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-position: center -1955px;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
}
.mobile.homepage .second-message {
    font-size: 20px;
    font-style: italic;
    line-height: 1.63;
    text-align: center;
    color: #667;
    margin: 0 auto 12px auto;
    padding: 16px 32px 52px 32px;
    max-width: 500px;
}
.mobile.homepage .feature-icon {
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-position: -2px top;
    background-repeat: no-repeat;
    margin: 0 auto 32px auto;
    height: 80px;
    text-align: center;
    width: 100px;
}
.mobile.homepage .feature-icon.end-to-end-encryption {
    background-position: -106px -1665px;
    height: 64px;
    width: 57px;
}
.mobile.homepage .feature-icon.secure-global-access {
    background-position: -103px -1768px;
    height: 64px;
    width: 64px;
}
.mobile.homepage .feature-icon.secure-collaboration {
    background-position: -92px -1866px;
    height: 64px;
    width: 85px;
}
.mobile.homepage .feature-title {
    color: #778187;
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}
.mobile.homepage .feature-message {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #939da3;
    margin: 0 auto 52px auto;
    padding: 0 32px 0 32px;
    max-width: 500px;
}
.mobile.homepage .bottom-links {
    display: table-cell;
    height: 40px;
    font-size: 0;
    white-space: nowrap;
    background: #fff;
    vertical-align: middle;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile.homepage .bottom-link {
    cursor: pointer;
    display: inline-block;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: left -1190px;
    color: #aaa;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    margin: 10px 0;
    width: 50%;
}
.mobile.homepage .bottom-link:first-child {
    background-image: none;
}
.mobile.white-block {
    width: 400px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.06);
    display: inline-block;
    margin: -30px 0 0 0;
    padding: 13px;
    font-size: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
}
.mobile.filetype-img {
    width: 72px;
    margin: 0 auto;
    position: relative;
    top: -48px;
}
.mobile.filename {
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    word-break: break-all;
    white-space: normal;
    letter-spacing: 0.2px;
    padding: 0 0 0 0;
    margin: -32px 15px 0 15px;
}
.mobile.public-link {
    font-size: 20px;
    line-height: 20px;
}
.mobile.na-file-txt {
    font-size: 20px;
    line-height: 32px;
    color: #FF3333;
    padding: 0 24px 30px 24px;
    margin: -36px 0 0 0;
    white-space: normal;
}
.mobile.filesize, .mobile.download-speed, .mobile.download-percents {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 1.9px;
    color: #AAAAAA;
    padding: 0 23px;
    margin: 8px 0 18px 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile.error-messages {
    font-size: 15px;
    line-height: 24px;
    color: #555;
    padding: 0 23px;
    margin: 24px 0 18px 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
}
.mobile.download-speed {
    text-align: right;
    padding: 0 28px 0 0;
    background: url(../images/mobile/mobile-sprite_v5.png) no-repeat right -246px;
}
.mobile.download-percents {
    text-align: left;
    padding: 0 0 0 28px;
    background: url(../images/mobile/mobile-sprite_v5.png) no-repeat -247px -246px;
}
.mobile.public-link {
    background-color: rgba(242, 242, 242, 1);
    border: 0 none;
    box-sizing: border-box;
    color: rgba(102, 102, 102, 1);
    display: block;
    font-family: 'source_sans_proregular', sans-serif;
    margin-bottom: 10px;
    min-height: 79px;
    padding: 7px 14px;
    resize: none;
    vertical-align: middle;
    width: 100%;
}
.mobile.red-button, .mobile.download-progress .bar {
    color: white;
    font-size: 20px;
    letter-spacing: 2.11px;
    display: block;
    height: 64px;
    line-height: 60px;
    background: rgb(255,76,82);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmY0YzUyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, rgba(255,76,82,1) 0%, rgba(255,51,51,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255,76,82,1) 0%, rgba(255,51,51,1) 100%);
    background: linear-gradient(135deg, rgba(255,76,82,1) 0%, rgba(255,51,51,1) 100%);
    margin-top: 2px;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}
.mobile.red-button, .mobile.download-progress.complete {
    cursor: pointer;
}
.mobile.red-button i {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 100%);
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=9);
    -moz-opacity: 0.06;
    -khtml-opacity: 0.06;
    opacity: 0.06;
    top: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.mobile.red-button.disabled {
    background: #CCCCCC;
    cursor: default;
}
.mobile.red-button.disabled i {
    display: inline-block;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: 0px -207px;
    margin: 0 4px 0 0;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    position: static;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.mobile.red-button span, .mobile.download-progress span {
    vertical-align: middle;
    position: relative;
}
.mobile.download-progress span {
    text-transform: uppercase;
}
.mobile.red-button.first {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.mobile.red-button.second {
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topmleft: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
}
.mobile.content-row.second {
    display: none;
}
.wrong-file .mobile.content-row, .downloading .mobile.content-row {
    display: table;
    width: 50%;
    height: 100%;
    float: left;
    vertical-align: middle;
    text-align: center;
}
.wrong-file .mobile.content-row.second, .downloading .mobile.content-row.second {
    background: white;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}
.wrong-file .mobile.main-block, .downloading .mobile.main-block {
    display: block;
}
.mobile.app-info-block {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.mobile.app-info {
    display: table-row;
}
.mobile.app-info-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.mobile.wrong-file-block, .mobile.application-txt {
    display: none;
    padding: 13.6% 0 0 0;
}
.wrong-file .mobile.wrong-file-block, .downloading .mobile.application-txt {
    display: block;
    margin: 0 auto;
}
.mobile.warning-icon {
    width: 60px;
    height: 62px;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: -3px -100px;
    display: inline-block;
}
.mobile.error-txt {
    color: #555555;
    font-size: 21px;
    line-height: 32px;
    padding: 34px 42px 44px 42px;
}
.mobile.error-txt span, .mobile.application-txt span {
    color: #FF4C52;
}
.mobile.download-app {
    display: block;
    width: 178px;
    height: 54px;
    margin: 0 auto;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: 0 -345px;
}
.android.app-info-block .mobile.download-app {
    background-position: 0 -275px;
}
.wp.app-info-block .mobile.download-app {
    background-position: 0 -415px;
    height: 52px;
    width: 177px;
}
.mobile.download-app.android {
    background-position: 0 -275px;
}
.mobile.download-app.wp {
    background-position: 0 -415px;
}
.mobile.tablet-img-wrapper {
    margin: 0 50px;
}
.mobile.fm-dialog-close {
    background-image: url("../images/mega/dialogs-sprite_v11.svg");
    background-position: -53px -4825px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 30px;
    opacity: 0.5;
    position: absolute;
    right: 30px;
    top: 20px;
    transition: opacity 200ms ease-in-out 0s;
    width: 30px;
    z-index: 10;
}
.mobile.tablet-img {
    max-width: 800px;
    height: 378px;
    margin: 30px auto 0 auto;
    background: url(../images/mobile/ipad-big.png);
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.android .mobile.tablet-img {
    background-image: url(../images/mobile/android.png);
    max-width: 393px;
    height: 295px;
}
.wp .mobile.tablet-img {
    display: none;
}
.mobile.app-info-cell.bottom-align {
    vertical-align: bottom;
}
.mobile.application-txt {
    font-size: 34px;
    line-height: 50px;
    font-family: 'source_sans_prolight', sans-serif;
    letter-spacing: 0.3px;
    color: #555555;
    padding: 18.5% 36px 45px 36px;
    max-width: 612px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile.download-progress, .downloading .mobile.red-button {
    display: none;
}
.mobile.download-progress {
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(238,238,238,1);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(238,238,238,1);
    box-shadow: inset 0px 0px 0px 1px rgba(238,238,238,1);
    background-color: #FAFAFA;
    height: 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: rgba(255,255,255,0.3);
    font-size: 20px;
    letter-spacing: 2.11px;
    line-height: 60px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.mobile.download-progress.complete {
    color: #fff;
}
.downloading .mobile.download-progress {
    display: block;
}
.mobile.download-progress .bar {
    width: 0;
    position: absolute;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: 0;
}
.download-complete .mobile.download-progress {
    color: white;
}
.download-complete .mobile.filesize {
    color: #FF3333;
}
.download-complete .mobile.download-progress .bar {
    width: 100%;
}
.mobile.fm-block, .mobile.signin-register-block, .mobile.registration-confirm-email {
    width: 100%;
    height: 100%;
    background-color: white;
    display: table;
    table-layout: fixed;
}
.mobile.full-page-scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: block;
}
.mobile.full-page-scrollable {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    display: block;
}
.full-page-scrollable .mobile.fm-block, .full-page-scrollable .mobile.fm-row, .full-page-scrollable .mobile.fm-content, .full-page-scrollable .mobile.sign-header, .full-page-scrollable .mobile.fm-content {
    display: block;
}
.full-page-scrollable .mobile.fm-scrolling, .full-page-scrollable .mobile.fm-block {
    height: auto;
    position: relative;
    overflow: visible;
    -webkit-overflow-scrolling: auto;
}
.mobile.fm-header, .mobile.sign-header {
    height: 66px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #FFFFFF;
    display: table-cell;
    position: relative;
    overflow: hidden;
}
.mobile.sign-header {
    height: 120px;
    border-bottom: 0;
}
.mobile.fm-header.folder-link {
    height: 126px;
    text-align: center;
}
.mobile.fm-hr {
    height: 1px;
    background-color: #FF333A;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.mobile.fm-content {
    display: table-cell;
    width: 100%;
    position: relative;
}
.fm-scrolling {
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    -webkit-overflow-scrolling: touch;
}
.mobile.fm-block.disable-scroll .fm-scrolling {
    overflow: hidden;
}
.mobile.fm-bottom {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,0.1);
    height: 25px;
    background-color: white;
    display: table-cell;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
    color: #999999;
}
.mobile.fm-row {
    display: table-row;
}
.mobile.fm-item {
    height: 56px;
    -webkit-transition: height 200ms ease-in-out;
    -moz-transition: height 200ms ease-in-out;
    -o-transition: height 200ms ease-in-out;
    -ms-transition: height 200ms ease-in-out;
    transition: height 200ms ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.mobile.fm-item.expanded {
    height: 96px;
}
.mobile.fm-item.undecrypted .fm-item-name {
    color: #ffa500;
}
.mobile.fm-item.undecrypted .fm-item-details {
    color: #ffa500;
}
.mobile.fm-item:nth-child(odd) {
    background-color: #F8F8F8;
}
.mobile.fm-icon {
    width: 42px;
    height: 40px;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    margin: 13px 6px 0 7px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.mobile.fm-icon.folder {
    background-position: -11px -1572px;
    width: 38px;
    height: 34px;
    margin: 15px auto 0 auto;
}
.mobile.fm-icon.mega {
    background-position: -93px -1076px;
    width: 32px;
    height: 32px;
    margin: 18px auto 0 auto;
}
.mobile.fm-icon.mega.left {
    margin-left: 10px;
}
.mobile.fm-icon.cloud {
    background-position: -200px -1138px;
    cursor: default;
}
.mobile.fm-icon.menu {
    background-position: -1px -1138px;
    margin: 12px 6px 0 7px;
}
.mobile.fm-icon.back {
    background-position: -35px -1138px;
}
.mobile.fm-icon.close {
    background-position: -76px -1138px;
    position: absolute;
    right: 0;
}
.mobile.fm-icon.link {
    background-position: -204px -1072px;
    margin: 8px 0 0 0;
    width: 36px;
}
.mobile.fm-header-txt {
    font-size: 20px;
    line-height: 24px;
    padding: 0 30px;
    color: #333333;
    padding: 21px 60px 0 60px;
}
.mobile.fm-folder-size {
    font-size: 14px;
    line-height: 19px;
    color: #999999;
}
.mobile.fm-header-txt span {
    display: block;
    width: 100%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.folder-link .mobile.fm-header-txt {
    padding: 14px 20px 0 20px;
}
.folder-link .mobile.fm-header-txt span {
    font-size: 18px;
    line-height: 24px;
}
.mobile.fm-item-img {
    float: left;
    margin: 10px 0 0 12px;
    text-align: center;
}
.mobile.fm-item-img.folder {
    margin: 7px 0 0 10px;
}
.mobile.fm-item-img.thumb {
    margin: 9px 0 0 8px;
}
.mobile.fm-item-img img {
    width: 32px;
}
.mobile.fm-item-img.folder img {
    width: 36px;
}
.mobile.fm-item-img.thumb img {
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.mobile.fm-item-info {
    padding: 11px 40px 0 63px;
}
.mobile.fm-item-name {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.mobile.fm-item-details {
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}
.mobile.fm-item-details span {
    padding-left: 35px;
}
.mobile.fm-item-details span:first-child {
    padding: 0;
}
.mobile.fm-item-links {
    padding: 18px 0 0 0;
    max-width: 360px;
    margin: 0 auto;
    clear: both;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    font-size: 0;
}
.expanded .mobile.fm-item-links {
    cursor: default;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.mobile.fm-item-link {
    cursor: pointer;
    width: 33.333333%;
    font-size: 13px;
    line-height: 17px;
    color: #FF5555;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: left -1192px;
    text-align: center;
    display: inline-block;
}
.mobile.fm-item-link:first-child {
    background-image: none;
}
.light-overlay, .dark-overlay {
    background-color: rgba(255, 255, 255, 0.94);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1000;
}
.dark-overlay {
    background-color: rgba(250, 250, 250, 0.94);
}
.mobile.dark-overlay {
    background-color: rgba(0,0,0,0.8);
    z-index: 100;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    z-index: 200;
    display: none;
}
.mobile.dark-overlay.active {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    display: block;
}
.mobile.main-menu {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 100%;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    background-color: white;
    z-index: 210;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    top: 0;
}
.mobile.main-menu.active {
    left: 25%;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.avatar-name-block {
    opacity: 0.9;
    background-color: #f8f9fa;
    padding: 20px;
    position: relative;
    margin-top: 61px;
}
.mobile.main-avatar {
    text-align: center;
    position: absolute;
    top: 11px;
    left: 14px;
}
.mobile.main-avatar .avatar span {
    color: #fff;
}
.mobile.user-info {
    margin-left: 42px;
}
.mobile.user-name {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #3e3e3e;
    font-family: 'source_sans_proregular';
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.mobile.menu-buttons.logged-out {
    margin-top: 81px;
}
.mobile.menu-buttons .spacer {
    height: 40px;
}
.mobile.menu-button {
    color: #888;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0 13px 15px;
}
.mobile.menu-button.current {
    border-left: 3px solid #eb4444;
}
.mobile.menu-button.red {
    color: #FF4444;
}
.mobile.template {
    display: none;
}
.mobile.empty-cloud .empty-cloud-block, .mobile.empty-folder .empty-folder-block {
    display: block;
}
.mobile.empty-cloud-block, .mobile.empty-folder-block {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0;
    top: 50%;
    margin: -75px 0 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #CCCCCC;
    font-family: 'source_sans_proregular', sans-serif;
}
.mobile.empty-icon {
    width: 145px;
    height: 108px;
    margin: 0 auto 20px auto;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
}
.mobile.empty-cloud .empty-icon {
    background-position: -3px -1442px;
}
.mobile.empty-folder .empty-icon {
    background-position: -3px -1299px;
}
.mobile.empty-txt span {
    color: #777777;
}
.mobile.top-links {
    padding: 38px 0 0 0;
    margin: 0 auto;
    clear: both;
    text-align: center;
    font-size: 0;
}
.mobile.top-link {
    cursor: pointer;
    width: 50%;
    font-size: 15px;
    line-height: 19px;
    color: #CCCCCC;
    background: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: -1px -1190px;
    text-align: center;
    display: inline-block;
}
.mobile.top-link.full {
    width: 100%;
}
.mobile.top-link.active {
    color: #FF5555;
}
.mobile.signing-in {
    color: #FF5555;
    padding: 38px 0 0 0;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
}
.mobile.top-link:first-child {
    background-image: none;
}
.mobile.signin-input {
    background-color: #F8F8F8;
    height: 60px;
    padding: 19px 55px 0 55px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 2px;
}
.mobile.signin-input span {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: -130px -1149px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.mobile.signin-input .warning-icon {
    display: none;
}
.mobile.signin-input.incorrect .warning-icon {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: -213px -1216px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.mobile.signin-input.incorrect span {
    background-position: -130px -1219px
}
.mobile.signin-input.first-name span, .mobile.signin-input.last-name span {
    background-position: -253px -1148px;
}
.mobile.signin-input.first-name.incorrect span, .mobile.signin-input.last-name.incorrect span {
    background-position: -253px -1218px;
}
.mobile.signin-input.password span, .mobile.signin-input.password-confirm span {
    background-position: -164px -1149px;
}
.mobile.signin-input.password.incorrect span, .mobile.signin-input.password-confirm.incorrect span {
    background-position: -164px -1219px;
}
.mobile.signin-input input {
    background-color: #F8F8F8;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    color: #666666;
    height: 20px;
    width: 100%;
}
.mobile.signin-input input::-webkit-input-placeholder {
 color: #aaa;
 font-size: 14px;
}
.mobile.signin-input input:-moz-placeholder {
 color: #aaa;
 font-size: 14px;
 opacity: 1;
}
.mobile.signin-input input::-moz-placeholder {
 color: #aaa;
 font-size: 14px;
 opacity: 1;
}
.mobile.signin-input input:-ms-input-placeholder {
 color: #aaa;
 font-size: 14px;
}
.mobile.signin-input.incorrect input {
    color: #FF5555;
}
.mobile.signin-input.incorrect input::-webkit-input-placeholder {
 color: #FF5555;
}
.mobile.signin-input.incorrect input:-moz-placeholder {
 color: #FF5555;
}
.mobile.signin-input.incorrect input::-moz-placeholder {
 color: #FF5555;
}
.mobile.signin-input.incorrect input:-ms-input-placeholder {
 color: #FF5555;
}
.signin-register-block .tab-block.register .signin-input.password {
    position: relative;
}
.signin-register-block .estimator-loading-icon {
    background: rgba(0, 0, 0, 0) url("../images/mega/ajax-loader-gray.gif") no-repeat scroll 0 0 / 16px 16px;
    display: none;
    height: 16px;
    position: absolute;
    right: 17px;
    top: 21px;
    width: 16px;
    z-index: 1;
}
.signin-register-block .estimator-loading-icon.loading {
    display: block;
}
/* Prevent Chrome displaying the default checkbox */
input[type='checkbox'] {
    display: none;
}
.mobile.remember-me {
    background-color: #f8f8f8;
    overflow: hidden;
    padding-left: 18px;
}
.mobile.remember-me div.checkboxOn, .mobile.remember-me div.checkboxOff {
    margin: 21px 0 0 0;
}
.mobile.confirm-terms div.checkboxOn, .mobile.confirm-terms div.checkboxOff {
    margin: 21px 0 0 0;
}
.checkboxOn.square, .checkboxOff.square {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.05);
    border: 1px solid #e3e3e3;
    background-color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
    position: relative;
    width: 18px;
    height: 18px;
}
.checkboxOn.square i {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-position: -49px -1179px;
}
.checkboxOn.square input, .checkboxOff.square input {
    width: 18px;
    height: 18px;
    position: relative;
}
.mobile.remember-me .text {
    color: #eb4444;
    cursor: pointer;
    display: block;
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: normal;
    color: #666;
    float: none;
    padding: 20px 0 20px 37px;
}
.mobile.confirm-terms {
    background-color: #f8f8f8;
    overflow: hidden;
    padding-left: 18px;
}
.mobile.confirm-terms .checkbox {
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #ebebeb;
}
.mobile.confirm-terms .text {
    color: #eb4444;
    cursor: pointer;
    display: block;
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: normal;
    color: #666;
    padding: 20px 0 20px 37px;
}
.mobile.confirm-terms .text a {
    color: #eb4444;
}
.mobile.signin-button, .mobile.register-button, .mobile.resend-button {
    background-color: #ff5555;
    padding: 0;
    position: relative;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    height: 60px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    opacity: 0.3;
}
.mobile.signin-button.active, .mobile.register-button.active, .mobile.resend-button.active {
    background-color: #ff5555;
    color: #fff;
    cursor: pointer;
    opacity: 1;
}
.mobile.signin-button .loading-image {
    display: none;
}
.mobile.signin-button.loading .label {
    display: none;
}
.mobile.signin-button.loading .loading-image {
    display: inline-block;
    height: 28px;
    left: 50%;
    margin-left: -14px;
    margin-top: 16px;
    position: absolute;
    width: 28px;
    font-size: 0;
    line-height: 0;
}
.mobile.signin-button .loading-image img {
    width: 28px;
    height: 28px;
}
.new-registration {
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.register-pass-status-line1, .register-pass-status-line2, .register-pass-status-line3, .register-pass-status-line4, .register-pass-status-line5 {
    background-color: rgba(0, 0, 0, 0.1);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: left;
    height: 2px;
    margin-right: 5px;
    width: calc(20% - 5px);
}
.good1 .register-pass-status-line1 {
    background-color: #ff2a0b;
}
.good2 .register-pass-status-line1, .good2 .register-pass-status-line2 {
    background-color: #ffc926;
}
.good3 .register-pass-status-line1, .good3 .register-pass-status-line2, .good3 .register-pass-status-line3 {
    background-color: #7ab148;
}
.good4 .register-pass-status-line1, .good4 .register-pass-status-line2, .good4 .register-pass-status-line3, .good4 .register-pass-status-line4 {
    background-color: #7dd016;
}
.good5 .register-pass-status-line1, .good5 .register-pass-status-line2, .good5 .register-pass-status-line3, .good5 .register-pass-status-line4, .good5 .register-pass-status-line5 {
    background-color: #1DA1E9;
}
div.checkboxOn, div.checkboxOff {
    width: 16px;
    height: 16px;
    border: 1px solid #FF5555;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    float: left;
    position: relative;
}
.checkboxOn span, .checkboxOff span {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 2px;
    top: 2px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #FF5555;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.checkboxOn span {
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.checkboxOn input, .checkboxOff input {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1px;
    top: -1px;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    cursor: pointer;
}
.checkbox-label {
    float: left;
    font-size: 15px;
    line-height: 16px;
    padding: 0 0 0 9px;
    color: #666666;
    cursor: pointer;
}
.checkbox-block {
    padding: 27px 0 40px 23px;
}
.mobile.input-error {
    margin: 21px 0 30px 0;
    font-size: 15px;
    line-height: 24px;
    color: #F6A623;
    text-align: center;
}
.mobile.loader {
    position: absolute;
    width: 58px;
    height: 58px;
    left: 50%;
    top: 50%;
    margin: -29px 0 0 -29px;
    background-image: url(../images/mobile/mobile-sprite_v5.png);
    background-repeat: no-repeat;
    background-position: -7px -1212px;
    -webkit-animation: rotate-loading 0.8s infinite linear;
    animation: rotate-loading 0.8s infinite linear;
}
.mobile.tab-block.register {
    min-height: 100%;
}
.mobile.registration-confirm-email .email-icon {
    width: 200px;
    height: 114px;
    background-image: url(../images/mega/register-big-sprite-v11.png);
    background-position: center -1021px;
    background-repeat: no-repeat;
    margin: 46px auto 0 auto;
}
.mobile.registration-confirm-email .confirm-message {
    color: #667;
    font-size: 16px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 26px;
}
.mobile.registration-confirm-email .change-email {
    background-color: #f8f8f8;
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}
.mobile.registration-confirm-email .change-email input {
    background-color: #f8f8f8;
    border: 0;
    color: #444;
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.mobile.registration-confirm-email .instruction-message {
    opacity: 0.6;
    font-size: 13px;
    text-align: center;
    color: #667;
    margin: 16px 10px 20px 10px;
}
.mobile.registration-generating-keys .information-message {
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #939da3;
    margin-left: 20px;
    margin-right: 20px;
}
.mobile.white-text-bl {
    padding: 61px 30px 65px 30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 540px;
    margin: 0 auto;
    color: white;
}
.mobile.white-header {
    padding: 0 0 0 0;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.mobile.white-text-bl ul {
    margin: 22px 0 0 17px;
    padding: 0;
}
.mobile.white-text-bl li {
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    list-style-type: initial;
    color: white;
}
.tab-block .mobile.download-app {
    width: 152px;
    height: 47px;
    margin-bottom: 40px;
    background-position: 0 -564px;
}
.android .tab-block .mobile.download-app {
    background-position: 0 -496px;
}
.wp .tab-block .mobile.download-app {
    background-position: 0 -632px;
    width: 128px;
}
.mobile.terms-of-service .content {
    padding: 20px;
}
.mobile.terms-of-service h1 {
    font-family: 'source_sans_prolight', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #222;
}
.mobile.terms-of-service h2 {
    font-family: 'source_sans_prolight', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: #999;
}
.mobile.terms-of-service .number {
    display: block;
    font-size: 16px;
    line-height: 1.19;
    color: #eb4444;
}
.mobile.terms-of-service .text {
    font-size: 15px;
    line-height: 1.73;
    color: #667;
}
.mobile.terms-of-service a {
    color: #eb4444;
}
.mobile.terms-of-service .list {
    margin-left: 18px;
}
.mobile.terms-of-service .sub-list {
    margin-left: 36px;
}
.mobile.terms-of-service .terms-agent-info {
    color: #333;
    display: block;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 24px;
}
.mobile.overlay-info {
    min-height: 132px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 10px 0 10px;
}
.mobile.overlay-info p {
    padding: 3px 0 18px 0;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    color: #555;
    white-space: normal;
    text-align: left;
}
.mobile.overlay-info p.bold {
    font-family: 'source_sans_prosemibold';
    font-weight: normal;
}
.mobile.overlay-info strong {
    font-family: 'source_sans_prosemibold';
    font-weight: normal;
}
.mobile.grey-textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f0f0f0;
    padding: 10px;
    color: #8b8a8b;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    height: 78px;
    margin: 0 0 12px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 0;
    display: block;
    resize: none;
    font-family: 'source_sans_proregular';
}
.mobile.grey-textarea.decryption-password {
	height: auto;
}
.mobile.grey-textarea::-webkit-input-placeholder {
    color: #8b8a8b;
}
.mobile.grey-textarea:-moz-placeholder {
    color: #8b8a8b;
    opacity: 1;
}
.mobile.grey-textarea::-moz-placeholder {
    color: #8b8a8b;
    opacity: 1;
}
.mobile.grey-textarea::-ms-input-placeholder {
    color: #8b8a8b;
}
.mobile.decrypt-button .decrypting-spinner {
    display: none;
}
.mobile.decrypt-button.decrypting .decrypt-text {
    display: none;
}
.mobile.decrypt-button.decrypting .decrypting-spinner {
    display: inline-block;
    height: 28px;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
    position: absolute;
    width: 28px;
    font-size: 0;
    line-height: 0;
}
.mobile.decrypt-button.decrypting .decrypting-spinner img {
    width: 28px;
    height: 28px;
}
.mobile.decrypt-button.decrypting.ios {
	background-color: #EB4444;
    cursor: default;
    opacity: 0.6;
}
.mobile.decrypt-button.decrypting.ios .decrypting-spinner {
    display: none;
}

@media only screen and (orientation:portrait) {
.wrong-file .mobile.content-row, .downloading .mobile.content-row {
    width: 100%;
    height: 63%;
    float: none;
}
.wrong-file .mobile.content-row.first, .downloading .mobile.content-row.first {
    height: 37%;
}
.wrong-file .mobile.content-row.first .content-cell, .downloading .mobile.content-row.first .content-cell {
    vertical-align: bottom;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    margin: 0;
    position: relative;
    bottom: -77px;
}
.mobile.fm-item-link:first-child {
    background-image: none;
}
}

@media only screen and (orientation:landscape) and (max-width: 1280px), only screen and (orientation:portrait) and (max-height: 1280px) {
.mobile.tablet-img {
    max-width: 600px;
    height: 420px;
    background-image: url(../images/mobile/ipad-mid@2x.png);
}
.mobile.white-block {
    width: 300px;
    padding: 10px;
    margin: 0 0 14px 0;
}
.mobile.file-download-info {
    margin: 0 auto;
}
.mobile.filename {
    font-size: 16px;
    line-height: 16px;
}
.mobile.public-link {
    font-size: 16px;
    line-height: 16px;
}
.mobile.filesize, .mobile.download-speed, .mobile.download-percents {
    font-size: 15px;
    line-height: 19px;
    margin: 6px 0 15px 0;
    padding: 0 18px;
    letter-spacing: 1px;
}
.mobile.red-button, .mobile.download-progress {
    height: 56px;
    line-height: 52px;
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 1px;
}
.mobile.download-progress .bar {
    height: 52px;
}
.mobile.filetype-img {
    width: 64px;
    top: -41px;
}
.mobile.filename {
    margin: -36px 15px 0 15px;
}
.mobile.red-button.disabled i {
    background-position: -66px -209px;
    margin: 1px 2px 0 0;
    width: 18px;
    height: 18px;
}
.mobile.download-speed {
    padding: 0 23px 0 0;
    background-position: right -249px;
}
.mobile.download-percents {
    padding: 0 0 0 23px;
    background-position: -247px -249px;
}
.mobile.logo {
    width: 50px;
    height: 50px;
    background-position: -70px -7px;
    left: 47px;
    top: 47px;
}
.mobile.warning-icon {
    width: 34px;
    height: 34px;
    background-position: -78px -114px;
    display: inline-block;
}
.mobile.error-txt {
    font-size: 16px;
    line-height: 26px;
    padding: 22px 42px 34px 42px;
}
.app-info-block .mobile.download-app {
    width: 138px;
    height: 42px;
    background-position: 0 -765px;
}
.android.app-info-block .mobile.download-app {
    background-position: 0 -705px;
}
.wp.app-info-block .mobile.download-app {
    background-position: 0 -825px;
    width: 136px;
}
.mobile.tablet-img {
    max-width: 480px;
    height: 330px;
}
.mobile.tablet-img-wrapper {
    margin: 0 15px;
}
.mobile.application-txt {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0.23px;
    padding: 25% 36px 33px 36px;
}
.mobile.na-file-txt {
    font-size: 16px;
    line-height: 28px;
    padding: 0 20px 20px 20px;
}
}

@media only screen and (orientation:portrait) and (max-height: 1280px) {
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -62px;
    margin: 0;
}
.mobile.tablet-img {
    max-width: 570px;
    height: 390px;
}
.wrong-file .mobile.content-row, .downloading .mobile.content-row {
    height: 60%;
}
.wrong-file .mobile.content-row.first, .downloading .mobile.content-row.first {
    height: 40%;
}
.mobile.application-txt {
    padding-top: 21.5%;
}
.mobile.tablet-img {
    margin-top: 90px;
}
}

@media only screen and (orientation:landscape) and (max-width: 800px), only screen and (orientation:portrait) and (max-height: 800px) {
.mobile.homepage .company-slogan {
    font-size: 24px;
    font-size: 8.5vw;
}
.mobile.homepage .first-message, .mobile.homepage .second-message {
    font-size: 16px;
}
.mobile.homepage .feature-title {
    font-size: 20px;
}
.mobile.homepage .bottom-link {
    font-size: 15px;
}
.mobile.main-menu {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 100%;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.mobile.homepage .company-logo {
    margin: 80px 0 0 0;
}
.mobile.homepage .company-slogan, .mobile.homepage .first-message {
    text-align: left;
    max-width: none;
}
.mobile.homepage .download-app {
    margin: 30px 0 0 30px;
}
.mobile.app-info.bottom {
    display: none;
}
.mobile.white-block {
    width: 308px;
    padding: 12px;
    margin: 0 0 28px 0;
}
.mobile.filetype-img {
    width: 56px;
    top: -38px;
}
.downloading .mobile.filetype-img, .wrong-file .mobile.filetype-img {
    width: 48px;
    top: -35px;
}
.mobile.filename {
    margin: -32px 15px 0 15px;
}
.mobile.filesize, .mobile.download-speed, .mobile.download-percents {
    margin: 3px 0 13px 0;
    font-size: 16px;
}
.mobile.filename {
    font-size: 17px;
    line-height: 17px;
}
.mobile.public-link {
    font-size: 17px;
    line-height: 17px;
}
.mobile.red-button, .mobile.download-progress {
    height: 54px;
    line-height: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 1px;
}
.mobile.download-progress .bar {
    height: 54px;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -66px;
}
.mobile.application-txt {
    font-size: 24px;
    line-height: 34px;
    padding-top: 72px;
}
.mobile.logo {
    width: 42px;
    height: 42px;
    background-position: -209px -11px;
    left: 40px;
    top: 40px;
}
.mobile.red-button.disabled i {
    background-position: -200px -206px;
    width: 22px;
    height: 22px;
}
.mobile.warning-icon {
    width: 38px;
    height: 38px;
    background-position: -209px -112px;
}
.mobile.error-txt {
    font-size: 16px;
    line-height: 28px;
    padding: 3px 31px 34px 31px;
    color: #888888;
}
.wrong-file .mobile.content-row.second {
    height: 54.5%;
}
.wrong-file .mobile.content-row.first {
    height: 45.5%;
}
.downloading .mobile.content-row.second {
    height: 60%;
}
.downloading .mobile.content-row.first {
    height: 40%;
}
.mobile.wrong-file-block {
    padding-top: 68px;
}
.app-info-block .mobile.download-app {
    width: 152px;
    height: 47px;
    background-position: 0 -564px;
}
.android.app-info-block .mobile.download-app {
    background-position: 0 -496px;
}
.wp.app-info-block .mobile.download-app {
    background-position: 0 -632px;
    width: 128px;
}
.mobile.na-file-txt {
    font-size: 16px;
    line-height: 28px;
    padding: 0 18px 18px 18px;
    margin: -32px 0 0 0;
}
}

@media only screen and (orientation:landscape) and (max-width: 800px) {
.mobile.white-block {
    margin: 0;
}
.mobile.homepage .company-slogan {
    font-size: 44px;
}
.wrong-file .mobile.main-block, .downloading .mobile.main-block {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.wrong-file .mobile.content-row, .downloading .mobile.content-row {
    min-height: 235px;
    width: 100%;
    float: none;
}
.wrong-file .mobile.content-row.first .content-cell, .downloading .mobile.content-row.first .content-cell {
    vertical-align: bottom;
}
.mobile.application-txt, .mobile.wrong-file-block {
    padding-top: 130px;
}
.app-info-block .mobile.download-app {
    margin-bottom: 60px;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    position: relative;
    bottom: -94px;
    margin: 0 0 28px 0;
}
}

@media only screen and (orientation:landscape) and (max-width: 670px), only screen and (orientation:portrait) and (max-height: 670px) {
.mobile.white-block {
    width: 280px;
    padding: 9px;
    margin: 0 0 22px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.mobile.grey-textarea {
    margin: 0 0 9px 0;
}
.mobile.overlay-info p {
    font-size: 15px;
}
.mobile.overlay-info {
    min-height: 128px;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -53px;
}
.mobile.filename {
    font-size: 15px;
    line-height: 15px;
}
.mobile.public-link {
    font-size: 15px;
    line-height: 15px;
}
.mobile.filesize, .mobile.download-speed, .mobile.download-percents {
    margin: 3px 0 10px 0;
    font-size: 14px;
}
.mobile.red-button, .mobile.download-progress {
    height: 44px;
    line-height: 40px;
    font-size: 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.mobile.download-progress .bar {
    height: 44px;
}
.mobile.red-button.disabled i {
    background-position: -66px -209px;
    width: 18px;
    height: 18px;
}
.mobile.red-button span, .mobile.download-progress span {
    display: inline-block;
    padding-top: 1px;
}
.mobile.filetype-img, .downloaidng .mobile.filetype-img, .wrong-file .mobile.filetype-img {
    width: 48px;
    top: -32px;
}
.mobile.filename {
    margin: -32px 15px 0 15px;
}
.wrong-file .mobile.content-row.first, .wrong-file .mobile.content-row.second {
    height: 50%;
}
.downloading .mobile.content-row.first {
    height: 40%;
}
.downloading .mobile.content-row.second {
    height: 60%;
}
.mobile.logo {
    width: 38px;
    height: 38px;
    background-position: -125px -13px;
    left: 36px;
    top: 26px;
}
.mobile.warning-icon {
    width: 32px;
    height: 32px;
    background-position: -126px -116px;
}
.mobile.error-txt {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 3px 31px 33px 31px;
}
.mobile.wrong-file-block {
    padding-top: 30px;
}
.app-info-block .mobile.download-app {
    width: 137px;
    height: 42px;
    background-position: 0 -765px;
}
.android.app-info-block .mobile.download-app {
    background-position: 0 -705px;
}
.wp.app-info-block .mobile.download-app {
    background-position: 0 -825px;
    width: 136px;
}
.mobile.application-txt {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.2px;
    padding: 0 36px 32px 36px;
}
.downloading .mobile.application-txt {
    margin-top: -10px;
}
.mobile.na-file-txt {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0 18px 14px 18px;
    margin: -28px 0 0 0;
}
}

@media only screen and (orientation:landscape) and (max-width: 670px) {
.mobile.white-block {
    margin: 0;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -81px;
    margin: 0 0 28px 0;
}
.mobile.application-txt, .mobile.wrong-file-block {
    padding-top: 115px;
}
.wrong-file .mobile.application-txt, .downloading .mobile.application-txt {
    margin-top: 5px;
}
}

@media only screen and (orientation:landscape) and (max-width: 570px), only screen and (orientation:portrait) and (max-height: 570px) {
.mobile.logo {
    width: 32px;
    height: 32px;
    background-position: -168px -16px;
    left: 29px;
    top: 29px;
}
.mobile.white-block {
    width: 240px;
    padding: 8px;
    margin: 0 0 22px 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.mobile.filetype-img, .downloaidng .mobile.filetype-img, .wrong-file .mobile.filetype-img {
    width: 40px;
    top: -28px;
}
.mobile.filename {
    font-size: 14px;
    line-height: 14px;
    margin: -32px 15px -1px 15px;
}
.mobile.public-link {
    font-size: 14px;
    line-height: 14px;
}
.mobile.filesize, .mobile.download-speed, .mobile.download-percents {
    margin: 0;
    font-size: 13px;
    color: #BBBBBB;
    line-height: 19px;
    padding: 0 10px;
}
.mobile.download-speed {
    padding: 0 13px 0 0;
    background-position: right -249px;
}
.mobile.download-percents {
    padding: 0 0 0 13px;
    background-position: -247px -249px;
}
.mobile.red-button, .mobile.download-progress {
    height: 40px;
    line-height: 36px;
    font-size: 14px;
}
.mobile.download-progress .bar {
    height: 40px;
}
.mobile.red-button.first, .mobile.download-progress {
    margin-top: -2px;
}
.mobile.application-txt {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.15px;
    padding: 0 36px 25px 36px;
}
.app-info-block .mobile.download-app {
    width: 112px;
    height: 35px;
    background-position: 0 -945px;
}
.android.app-info-block .mobile.download-app {
    background-position: 0 -895px;
}
.wp.app-info-block .mobile.download-app {
    background-position: 0 -995px;
    width: 92px;
}
.mobile.warning-icon {
    width: 26px;
    height: 26px;
    background-position: -171px -119px;
}
.mobile.error-txt {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0;
    padding: 1px 31px 26px 31px;
}
.wrong-file .mobile.content-row.first {
    height: 45.5%;
}
.wrong-file .mobile.content-row.second {
    height: 54.5%;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -48px;
}
.mobile.wrong-file-block {
    padding-top: 52px;
}
.mobile.red-button.disabled i {
    background-position: -135px -210px;
    width: 16px;
    height: 16px;
}
.downloading .mobile.application-txt {
    margin-top: -6px;
}
.mobile.na-file-txt {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0;
    padding: 0 12px 7px 12px;
    margin: -29px 0 0 0;
}
}

@media only screen and (orientation:landscape) and (max-width: 570px) {
.mobile.white-block {
    margin: 0;
}
.wrong-file .mobile.white-block, .downloading .mobile.white-block {
    bottom: -76px;
    margin: 0 0 28px 0;
}
.mobile.application-txt, .mobile.wrong-file-block {
    padding-top: 95px;
}
.wrong-file .mobile.application-txt, .downloading .mobile.application-txt {
    margin-top: 5px;
    padding-top: 96px;
}
.app-info-block .mobile.download-app {
    margin-bottom: 50px;
}
.mobile.content-row {
    min-height: 0;
}
}

@media only screen and (max-height: 570px) {
.mobile.sign-header {
    height: 100px;
}
.mobile.top-links {
    padding: 18px 0 0 0;
}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.mobile.tablet-img {
    background-image: url(../images/mobile/ipad-big@2x.png);
}
.android .mobile.tablet-img {
    background-image: url(../images/mobile/android@2x.png);
}
.mobile.logo, .mobile.download-speed, .mobile.download-percents, .mobile.red-button.disabled i, .mobile.warning-icon, .mobile.download-app, .mobile.fm-icon, .mobile.fm-item-link, .mobile.empty-icon, .mobile.top-link, .mobile.signin-input span, .mobile.loader, .mobile.homepage .feature-icon, .mobile.homepage .company-logo, .checkboxOn.square i {
    background-image: url(../images/mobile/mobile-sprite_v5@2x.png);
    background-size: 280px auto;
}
.mobile.registration-confirm-email .email-icon {
    background-image: url(../images/mega/register-big-sprite-v11@2x.png);
    background-size: 200px auto;
}
}
.hidden {
    display: none !important;
}
@keyframes rotate-loading {
 0% {
 transform: rotate(0deg);
 -ms-transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
 -ms-transform: rotate(360deg);
}
}
@keyframes rotate-loading {
 0% {
 transform: rotate(0deg);
}
 100% {
 transform: rotate(360deg);
}
}
@-moz-keyframes rotate-loading {
 0% {
 -moz-transform: rotate(0deg);
}
 100% {
 -moz-transform: rotate(360deg);
}
}
@-webkit-keyframes rotate-loading {
 0% {
 -webkit-transform: rotate(0deg);
}
 100% {
 -webkit-transform: rotate(360deg);
}
}
@-o-keyframes rotate-loading {
 0% {
 -o-transform: rotate(0deg);
}
 100% {
 -o-transform: rotate(360deg);
}
}
