/**
 * CSS for the desktop and mobile toast notifications
 */
.toast-notification {
    width: 507px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin: 0 0 -48px -253px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 4px 12px 62px;
    z-index: 2000;
    color: #666666;
    font-size: 14px;
    line-height: 18px;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    cursor: default;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.toast-notification::before {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}
.toast-notification.visible {
    margin-bottom: 0;
 filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.toast-notification.second {
    margin-bottom: 64px;
    bottom: 16px;
}
.toast-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    margin: -15px 0 0 0;
    background-image: url(../images/mega/register-big-sprite-v11.png);
    background-position: -85px -860px;
}
.clipboard .toast-icon {
    background-position: -85px -1162px;
}
.settings .toast-icon {
    background-position: -85px -1212px;
}
.upload .toast-icon {
    background-position: -85px -900px;
}
.warning .toast-icon {
    background-position: -85px -1260px;
}
.settings .toast-button {
    display: none;
}
.toast-body {
    display: table;
    width: 100%;
    position: relative;
}
.toast-col {
    display: table-cell;
    vertical-align: middle;
    font-family: 'source_sans_proregular';
}
.toast-col:nth-child(1) span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
}
.toast-col:nth-child(1) {
    padding: 0px 16px 2px 0;
}
.toast-col:nth-child(2) {
    width: 40px;
    height: 40px;
    text-align: right;
}
.toast-close-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url(../images/mega/register-big-sprite-v11.png);
    background-position: 10px -130px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 14px 0 0;
    vertical-align: middle;
}
.toast-button {
    display: inline-block;
    font-size: 14px;
    line-height: 23px;
    vertical-align: middle;
    height: 24px;
    padding: 0 8px;
    color: #666666;
    background-color: #EEEEEE;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 7px 0 5px 0;
    cursor: pointer;
}

/* Mobile*/
.mobile.toast-notification {
    font-size: 15px;
    line-height: 40px;
    margin: 0 0 0 -37%;
    padding: 0;
    text-align: center;
    width: 75%;
    background-color: #565656;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.mobile.toast-notification::before {
    display: none;
}
.mobile.toast-notification.active {
    opacity: 100;
}
.mobile.toast-notification.top {
	bottom: initial;
	top: 8px;
}
.mobile.toast-notification .toast-icon {
    display: none;
}
/* end of Mobile*/