#content {
    position: relative;
    width: 100%;
    height: 40vh;
	text-align: center;
    background-color: #80CFE8;
    padding-bottom: 20px;
}
#right {
    position: absolute;
    top: 0px;
    right: 0px;
    max-width:100%;
	max-height:70%;
    padding: 8px;
    background-color: #03689d;
    color: #80CFE8;
    border-bottom-left-radius: 10px; /* standards-compliant: (IE) */ 
}
#left {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width:100%;
	max-height:70%;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#centerlogo {
	padding-top: 20px;
	max-height: 65%;
}
#title {
    position: relative;
    padding-top: 10px;
    width: 100%;
    height: 30%;
	text-align: center;
	font-family: wf_segoe-ui,Tahoma,Verdana,Arial,sans-serif;
	font-size: 40px;
	color: #03689d;
    background-color: #80CFE8;
}
#subtitle {
    position: relative;
    padding-top: 10px;
    width: 100%;
	text-align: center;
	font-size: 25px;
}
.selector {
	text-align: center;
	height: 100%;
    -moz-border-radius: 40px; 
    border-radius: 40px; /* standards-compliant: (IE) */ 
}

.selectorimage {
    padding: 10px;
	max-height:100%;
	max-width:100%;
    vertical-align: middle;
    -moz-border-radius: 40px; 
    border-radius: 40px; /* standards-compliant: (IE) */ 
}

.selected {
    position: relative;
    z-index: 100;
    background-color: #80CFE8;
}

#status {
    height: 10vh;
    text-align: center;
    font-size: 25px;
    color: #03689d;
    padding-top: 10px;
}

#installadvice {
    height: 10vh;
    text-align: center;
    font-size: 20px;
    color: #03689d;
    padding-top: 5vh;
}

#engines {
	height: 25vh;
}
a {
    color: #80CFE8;
}
a:visited {
    color: #80CFE8;
}
a:hover {
    color: #80CFE8;
}
a:active {
    color: #80CFE8;
}