html, body
{
    background-color: #000!important;
    color: #fff!important;
}

 div.fbar
{
	background-color: #000;
	color: #fff;	
}

 div.fbar._Zvd
{
	background-color: #000;

	color: #fff;	
}

/* google maps search box*/

/* div#searchbox.searchbox.searchbox-shadow
{
	background-color: #000;
	color: #fff;	
}*/

/* google flights */
.flt-actionblock{
	background-color: #FFF !important;
}

/* google search   "goooooooogle" */
/*#navcnt{
	background-color: #FFF;
}*/

/* google scholar left hand sidebar */
#gs_lnv{
	/*background-color: #FFF;*/
	color: #000;
}

.gs_sel a{
	color: #F00;
}

#gs_lnv a:link, #gs_lnv a:visited {
	color:#FFF !important;
}

#gs_lnv a:hover {
	color:#006621 !important;
}

#gs_lnv li.gs_sel a:link, #gs_lnv li.gs_sel a:visited, #gs_lnv li.gs_sel a:active, #gs_lnv li.gs_sel a:hover{
	color: #d14836 !important;
}

/* google books left hand sidebar */
#menu_container{
	background-color: #FFF;
	color: #000;
}
.ac-row {
	color:#000 !important;
}



div#searchbox.searchbox.searchbox-shadow
{
	color: #000;	
}

 div.a.q.qs
{
	background-color: #000;
	color: #fff;	
}

 div#lga
{
	background-color: #000;
	color: #fff;	
}

 body.default-theme.des-mat
{
	background-color: #000;
	color: #fff;	
}

 div.swml
{
	background-color: #000;
	color: #fff;	
}

/* div.hdtb-mn-cont
{
	background-color: #000;
	color: #fff;	
}*/

 div.cards-intent-map.cards-show-expanded
{
	background-color: #000;
	color: #fff;	
}

 div.cards-card
{
	background-color: #000;
	color: #fff;	
}

 div.cards-categorical-list-item
{
	background-color: #000;
	color: #fff;	
}

 div.cards-categorical.cards-expanded
{
	background-color: #000;
	color: #fff;	
}

 div.cards-entity.cards-padding
{
	background-color: #000;
	color: #fff;	
}

 div#viewport
{
	background-color: #000;
	color: #fff;
}

 div#topabar
{
	background-color: #000;
	color: #fff;
}

 div#hdtb_msb
{
	background-color: #000;
	color: #fff;
}

 div#hdtbSum
{
	background-color: #000;
	color: #fff;
}

 div#fc
{
	background-color: #000;
	color: #fff;
}

 div#sfbgg
{
	background-color: #000;
	color: #fff;
}

 div.r-search-4
{
	background-color: #000;
	color: #fff;
}

 div#center_col
{
	background-color: #000;
	color: #fff;
}

 div#rcnt
{
	background-color: #000;
	color: #fff;
}

 div#most-visited.mv-hide
{
	background-color: #000;
	color: #fff;
}

 div#prm-pt
{
	background-color: #000;
	color: #fff;
}

 form#f
{
	background-color: #000;
	color: #fff;
}



 div#cnt
{
	background-color: #000;
	color: #fff;
}

/* div#ab_options.ab_dropdown
{
	background-color: #000;
	color: #fff;
}*/

 div#hdtnMenus.hdtb-td-o
{
	background-color: #000;
	color: #fff;
}

 div#hdtb_more_mn.hdtb-mn-o
{
	background-color: #000;
	color: #fff;
}

/* a.q.qs
{
	background-color: #000;
	color: #fff;
}*/

/* a.ab_dropdownlnk
{
	background-color: #000;
	color: #fff;
}*/

/* a#ab_as.ab_dropdownlnk
{
	background-color: #000;
	color: #fff;
}*/

#sbtc {

	color: #000!important;
}

h3.r a, h3.r a:visited, h3.r a:active  {

	color: #E0E0E0!important;
}

a.fl, a.fl:visited, a.fl:active {

	color: #ababab!important;
}

p._e4b a, p._e4b a._e4b:visited, p._e4b a._e4b:active { 

	color: #ababab!important;
}

._pk {

	color: #aaa!important;
}

#rhs_block a, #rhs_block a:active, #rhs_block a:visited {

	color: #fff!important;
}

#rhs_block ._Qqb {

	color: #fff!important;
}

#rhs_block {

	color: #fff!important;
}

#rhs_block ._Xbe {

	color: #aaa!important;
}

#rhs_block .kno-fb-ctx, #rhs_block .kno-fb-ctx:hover {

	background-color: #000!important;
}

#rhs_block a:hover {

	background-color: #000!important;
}

.card-section a {

	color: #fff!important;
}

#imagebox_bigimages a {

	color: #fff!important;
}

 #fbar {

	background-color: #000!important;
}

 div.suggest-bg
{
	background-color: rgba(0,  0,  0, 0.9);
	color: #fff;
}

 span.suggest-bold
{
	color: #fff;
}

 span.suggest
{
	color: #fff;
}

/*.mn-hd-txt{
	background-color: #FFF;
	color: #000;
}*/
 span
}
{
	background-color: #000;
	color: #fff;
}

 div.suggest-left-content
{
	color: #fff;
}

 body.default-theme.des-mat
{
	background-color: #000;
	color: #fff;
}
 div#cnt.big
{
	background-color: #000;
	color: #fff;
}

 div.sfbgg
{
	background-color: #000;
	color: #fff;
}

 div.gb_Zb.gb_qb.gb_n.gb_Sc
{
	background-color: #fff;
}

 div.gb_Lc.gb_n.gb_0c.gb_sc
{
	background-color: #fff;
}

 div.gb_4a.gb_qb.gb_n.gb_cb
{
	background-color: #fff;
}

 div.gb_Lc.gb_n.gb_0c.gb_sc
{
	background-color: #fff;
}

 div.gb_ea.gb_0c.gb_n.gb_Zc.gb_p
{
	background-color: #fff;
}

div.gb_p, div.gb_q {

	background-color: #000!important;
}

#gbw a.gb_K {

	content: "apps";
	color: #fff!important;
}

#gbw a.gb_gc, #gbw a.gb_gc:active, #gbw a.gb_gc:visited, #gbw a.gb_gc:hover  {

	color: #fff!important;
}

/*#gbw a, #gbw a:active, #gbw a:visited, #gbw a:hover {

	background-color: #000!important;
	color: #aaa!important;
}*/

 a.gb_l.gb_n
{
	background-color: #fff;
}

 div.gb_ma.gb_qb.gb_0c.gb_n
{
	background-color: #fff;
}

div.header-container
{
	background-color: #000!important;
	color: #fff!important;
}

div.button-holder-container
{
	background-color: rgba(68,65,65,0.66);
	color: #6d6868;
}

div.body-container
{
	background-color: rgba(68,65,65,0.66);
	color: #6d6868;
}

div#fb-root.fb_reset
{
	background-color: rgba(68,65,65,0.66);
	color: #6d6868;
}

div.container
{
	background-color: #fff!important;
	color: #000!important;
}

section#featured
{
	background-color: #fff!important;
	color: #000!important;
}

.cur{
	color:#FFF !important;
}

.gb_b{
	background-color:#FFF;
}

.gb_P.gb_R{
	color:#CCC;	
}


.gb_ie, .gb_qd {
	background-color: #000 !important;
}

#gb#gb a.gb_P, #gb#gb span.gb_P{
	color:#FFF !important;
}

.mn-dwn-arw{
	background-color: #000;
}

._Fmb.ab_button{
	background-color: #000;
}

._Fmb.ab_button:hover{
	background-color: #000;
}

._Fmb.ab_button:active{
	background-color: #000;
}

._Fmb.ab_button.selected{
	background-color: #000;
}

._Fmb.ab_button.selected:hover{
	background-color: #000;
}

/*
.gb_b.gb_xb{
    background-color: #FFF!important;
}

.gb_ja.gb_aa {
	background-color: #000 !important;
}

.gb_3, .gb_Z {
	background-color: #000 !important;
}
*/
